<div class="row align-middle align-center height-100">
  <div class="column small-6">
    <div class="login-box">
      <div class="row collapse expanded">
      <div class="column small-order-2 medium-order-1">
          <div class="login-box-form-section">
            <h1 class="login-box-title">Forgot Password</h1>
            <form name="RegisterForm" novalidate>
              <input class="login-box-input" type="email" name="email" ng-model="register.email" required ng-required="true" placeholder="Email*" disabled/>
              <p ng-if="RegisterForm.$error.email && RegisterForm.email.$touched" ng-cloak class="ng-cloak alert-color margin-bottom-dot5">Please enter a valid email id</p>
              <p ng-if="RegisterForm.email.$error.required && RegisterForm.email.$touched" ng-cloak class="ng-cloak alert-color margin-bottom-dot5">This is a required field</p>
              <input class="login-box-input" type="password"  ng-model="register.password" required ng-required="true" name="password" placeholder="Password*" />
              <p ng-if="RegisterForm.password.$error.required && RegisterForm.password.$touched" ng-cloak class="ng-cloak alert-color margin-bottom-dot5">This is a required field</p>
              <input class="login-box-input" type="password" ng-model="register.re_password" required ng-required="true" name="rePassword" placeholder="Re-Enter Password*" />
              <p ng-if="register.re_password != register.password && RegisterForm.rePassword.$touched" ng-cloak class="ng-cloak alert-color margin-bottom-dot5">Passwords don't match. Please re-enter the password</p>
              <button class="button4" type="submit"  name="signup_submit" ng-click="resetPassword(register,RegisterForm.$valid)" ng-disabled="RegisterForm.$invalid">Reset Password</button>
            </form>
            <div ng-if="error.email" ng-cloak class="ng-cloak margin-top-1 callout alert">This email is already registered. If this is your email id, please write to us at admin@supplierscave.com</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>