<html>

<head>
    <style>
        .porow {
            width: 100%;
            float: left;
        }

        .pocol-2 {
            width: 50%;
            float: left;
        }

        .pocol-3 {
            width: 33.333%;
            float: left;
        }

        .pocol-4 {
            width: 25%;
            float: left;
        }

        .pocol-5 {
            width: 20%;
            float: left;
        }

        .pocol-8 {
            width: 80%;
            float: left;
        }

        .pocol-70 {
            width: 55%;
            float: left;
        }

        .pocol-30 {
            width: 45%;
            float: left;
        }


        .buyerlogo {
            max-width: 100px !important;
            width: 100%;
            margin-left: 55px !important;
            margin: 5%;
        }

        table {
            width: 100%;
            margin: auto;
        }

        table {
            page-break-before: always
        }
    </style>


</head>

<body>
    <div>
        <div class="page">
            <table border="1" cellpadding="5" cellspacing="5">
                <thead>
                    <tr>
                        <td colspan="9">
                            <div class="porow">
                                <h2 style="font-size:30px;text-align:center;">Purchase Order</h2>
                            </div>
                            <div class="porow">
                                <div class="pocol-2">
                                    <div class="porow">
                                        <div class="pocol-2">
                                            <img class="buyerlogo" src="{{buyer_logo}}" alt="Buyer Logo">
                                        </div>
                                        <div class="pocol-2">
                                            <div style="font-weight:600;">
                                                {{buyer_company}}
                                            </div>
                                            <div>{{buyer_address.addressline1}}, {{buyer_address.addressline2}} </div>
                                            <div>{{buyer_address.cityname}}</div>
                                            <div>{{buyer_address.state}}</div>
                                            <div>{{buyer_address.country}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pocol-2">
                                    <div class="porow">
                                        <div class="pocol-2">&nbsp;</div>
                                        <div class="pocol-2">
                                            <div>PO NO :
                                                <span>{{po_number}}</span>
                                            </div>
                                            <div>PO Date:
                                                <span>{{po_date}}</span>
                                            </div>
                                            <div> Rev No:
                                                <span>{{revision_number}}</span>
                                            </div>
                                            <div>
                                                Contact :
                                                <span>{{buyer_contact_name}}</span>
                                            </div>
                                            <div> Number:
                                                <span>{{buyer_contact_mobile}}</span>
                                            </div>
                                            <div>Email :
                                                <span style="word-break: break-all;">{{buyer_contact_email}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tr>
                    <td colspan="9">
                        <div class="porow" style="border:1px">
                            <div class="pocol-2" style="border:1px">
                                <div class="porow">
                                    <h3>Supplier :
                                        <span>{{supplier_name}} </span>
                                    </h3>
                                </div>
                                <div class="porow">
                                    <div class="pocol-30">
                                        <div>{{supplier_address.addressline1}},{{supplier_address.addressline2}}</div>
                                        <div>{{supplier_address.cityname}}</div>
                                        <div>{{supplier_address.state}}</div>
                                        <div>{{supplier_address.country}}</div>
                                    </div>
                                    <div class="pocol-70">
                                        <div>Contact:
                                            <span>{{supplier_contact_name}}</span>
                                        </div>
                                        <div>Number:
                                            <span>{{supplier_contact_mobile}}</span>
                                        </div>
                                        <div>Email :
                                            <span>{{supplier_contact_email}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pocol-2" style="border:1px">
                                <div class="porow">
                                    <h3>General Description:</h3>
                                    <p>{{po_description}}</p>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <table cellpadding="5" cellspacing="5">
                            <tr>
                                <td>
                                    Project :
                                    <span>{{projectName}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Enquiry Number :
                                    <span>{{enquiry_number}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Items ordered(Annexure 1) :
                                    <p>{{totalItems}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Terms & Conditions(Annexure 2) :
                                    <p></p>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td colspan="4">
                        <table border="1" cellpadding="5" cellspacing="5">
                            <tr>
                                <td>Price</td>
                                <td>{{totalPriceWithTax}}</td>
                            </tr>
                            <tr>
                                <td>Price In Words</td>
                                <td>{{totalPriceInWords}}</td>
                            </tr>
                            <tr>
                                <td>Price Basis</td>
                                <td>{{price_basis}}</td>

                            </tr>
                            <tr>
                                <td>Delivery / Delivery Basis</td>
                                <td>{{delivery_basis}}</td>
                            </tr>
                            <tr>
                                <td> Authorised By :</td>

                                <td>{{authorized_by}}</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="9">
                        PO References :
                        <p>{{po_reference}}</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="9">
                        Additional Notes :
                        <div>
                            {{notes}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="9">
                        Supplier Acknowledgement :
                        <p>{{ack_supplier}}</p>
                        <p>I agree to supply to goods and services as per the details of the purchase order</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        Received by:
                        <p>{{received_by_supplier}}</p>
                    </td>

                    <td colspan="5">
                        Accepted by:
                        <p></p>
                    </td>
                </tr>
                <tfoot>
                    <tr>
                        <td colspan="9">
                            <div class="porow">
                                <div class="pocol-3">
                                    Continue.
                                </div>
                                <div class="pocol-3">
                                    LC Date Time :
                                    <span>{{lc}}</span>
                                </div>
                                <div class="pocol-3">
                                    PO NO :
                                    <span>{{po_number}}</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>


        <div class="page">
            <table border="1" cellpadding="5" cellspacing="5">
                <thead>
                    <tr>
                        <td colspan="11">
                            <div class="porow">
                                <h2 style="font-size:30px;text-align:center;">Purchase Order</h2>
                            </div>
                            <div class="porow">
                                <div class="pocol-2">
                                    <div class="porow">
                                        <div class="pocol-2">
                                            <img class="buyerlogo" src="{{buyer_logo}}" alt="Buyer Logo">
                                        </div>
                                        <div class="pocol-2">
                                            <div style="font-weight:600;">
                                                {{buyer_company}}
                                            </div>
                                            <div>{{buyer_address.addressline1}}, {{buyer_address.addressline2}} </div>
                                            <div>{{buyer_address.cityname}}</div>
                                            <div>{{buyer_address.state}}</div>
                                            <div>{{buyer_address.country}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pocol-2">
                                    <div class="porow">
                                        <div class="pocol-2">&nbsp;</div>
                                        <div class="pocol-2">
                                            <div>PO NO :
                                                <span>{{po_number}}</span>
                                            </div>
                                            <div>PO Data:
                                                <span>{{po_date}}</span>
                                            </div>
                                            <br>
                                            <div>
                                                ANNEXURE-I
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr style="font-size:14px;">
                        <th>PO SN</th>
                        <th>Item</th>
                        <th colspan="3">Description</th>
                        <th>Qty (Units) </th>                        
                        <th>Unit Of Measure</th>
                        <th>Unit Price  ({{currency}})</th>
                        <th>VAT  ({{currency}})</th>
                        <th>Total Price Incl.Vat ({{currency}})</th>
                        <!-- <th>Currency</th> -->
                        <th>Delivery Date (DD-MM-YY)</th>
                        <!-- <th>Other Charges</th> -->
                    </tr>
                </thead>

                <tbody>
                    {{#each items}}
                    <tr style="font-size:14px;">
                        <!-- <td>{{inc @index}}</td> -->
                        <td>{{s_no}}</td>
                        <td>{{title}}</td>
                        <td colspan="3">
                            {{description}}
                            <div>
                                notes: {{notes}}
                            </div>
                        </td>
                        <td>{{selected_quantity}}</td>                        
                        <td>{{unit_measure}}</td>
                        <td>{{unit_price}}</td>
                        <!-- <td>{{vat}}</td> -->
                        <td>{{vatValue}}</td>
                        <td>{{priceWithTax}}</td>
                        <!-- <td>{{currency}}</td> -->
                        <td>{{delivery_date}}</td>
                        <!-- <td>{{other_charges}}</td> -->
                    </tr>
                    {{/each}}

                    <tr>
                        <td colspan="6" style="border:none;"></td>
                        <td colspan="2">Cost Of Goods</td>
                        <td>{{currency}}</td>
                        <td>{{price_number}}</td>
                        <td colspan="1"></td>
                    </tr>
                    <tr>
                        <td colspan="6" style="border:none;"></td>
                        <!-- <td colspan="2">Vat : ({{totalVat}} %)</td> -->
                        <td colspan="2">Total Vat Value</td>
                        <td>{{currency}}</td>
                        <!-- <td>{{totalVatValue}}</td> -->
                        <td>{{vatAmount}}</td>
                        <td colspan="1"></td>
                    </tr>
                    <tr>
                        <td colspan="6" style="border:none;"></td>
                        <td colspan="2">Total Cost ( Including VAT )</td>
                        <td>{{currency}}</td>
                        <!-- <td>{{totalAmount}}</td> -->
                        <td>{{totalPriceWithTax}}</td>
                        <td colspan="1"></td>
                    </tr>
                    <tr>
                        <td colspan="6" style="border:none;"></td>
                        <td colspan="2">Total Cost In Words</td>
                        <td>{{currency}}</td>
                        <!-- <td colspan="2">{{totalPriceInWords}}</td> -->
                        <td colspan="2">{{totalPriceInWords}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="15">
                            <div class="porow">
                                <div class="pocol-3">
                                    Continue.
                                </div>
                                <div class="pocol-3">
                                    LC Date Time :
                                    <span>{{lc}}</span>
                                </div>
                                <div class="pocol-3">
                                    PO NO :
                                    <span>{{po_number}}</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="page">
            <table border="1" cellpadding="5" cellspacing="5">
                <thead>
                    <tr>
                        <td colspan="9">
                            <div class="porow">
                                <h2 style="font-size:30px;text-align:center;">Purchase Order</h2>
                            </div>
                            <div class="porow">
                                <div class="pocol-2">
                                    <div class="porow">
                                        <div class="pocol-2">
                                            <img class="buyerlogo" src="{{buyer_logo}}" alt="Buyer Logo">
                                        </div>
                                        <div class="pocol-2">
                                            <div style="font-weight:600;">
                                                {{buyer_company}}
                                            </div>
                                            <div>{{buyer_address.addressline1}}, {{buyer_address.addressline2}} </div>
                                            <div>{{buyer_address.cityname}}</div>
                                            <div>{{buyer_address.state}}</div>
                                            <div>{{buyer_address.country}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pocol-2">
                                    <div class="porow">
                                        <div class="pocol-2">&nbsp;</div>
                                        <div class="pocol-2">
                                            <div>PO NO :
                                                <span>{{po_number}}</span>
                                            </div>
                                            <div>PO Data:
                                                <span>{{po_date}}</span>
                                            </div>
                                            <br>
                                            <div>
                                                ANNEXURE-II
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tr>
                    <td>
                        1.0
                    </td>
                    <td>References:
                        <div>{{referenceDescription}}</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        2.0
                    </td>
                    <td>Scope Of Work :
                        <div>
                            {{sowDescription}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        3.0
                    </td>
                    <td>Price & Price Basis: 
                        <div>
                            {{priceBasisDescription}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>4.0</td>
                    <td>Payment Terms:
                        <div>
                            {{ptmsDescription}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>5.0</td>
                    <td>Liquidated Damages:
                        <div>
                            {{ldsDescription}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>6.0</td>
                    <td>Terms of delivery:
                        <div>
                            {{deliveryDescription}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>7.0</td>
                    <td>Performance Bank Gurantee:
                        <div>
                            {{bankDescription}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>8.0</td>
                    <td>Shipment Basis:
                        <div>Address :
                            <span>{{buyer_address.addressline1}}, {{buyer_address.addressline2}} </span>
                        </div>
                        <div>City :
                            <span>{{buyer_address.cityname}}</span>
                        </div>
                        <div>State :
                            <span>{{buyer_address.state}}</span>
                        </div>
                        <div> Country :
                            <span>{{buyer_address.country}}</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>9.0</td>
                    <td>General Terms & Conditions:
                        <div>
                            {{gtcsDescription}}
                        </div>
                    </td>
                </tr>
                <tfoot>
                    <tr>
                        <td colspan="15">
                            <div class="porow">
                                <div class="pocol-3">
                                    Continue.
                                </div>
                                <div class="pocol-3">
                                    LC Date Time :
                                    <span>{{lc}}</span>
                                </div>
                                <div class="pocol-3">
                                    PO NO :
                                    <span>{{po_number}}</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div>
            {{#data}}{{body}}{{/data}}
        </div>
    </div>
</body>

</html>