<div class="side-navigation">
    <div class="row align-middle align-center title">
        <div class="logo columns">
            <img src="/assets/img/supplierscave-logo.png" alt="supplierscave"> 
        </div>
    </div>
    <div class="row columns align-center center">
        <h6 class="light-color margin-top-2 margin-bottom01">Admin Dashboard</h6>
    </div>
    <ul class="">
        <li>
            <a ui-sref="{{configuration.state}}" class="sub-menu" >
                Manage Users
            </a>
        </li>
        <li>
            <a ui-sref="{{configuration.state}}" class="sub-menu" >
               Manage Inventory
            </a>
        </li>
    </ul>
    <div class="sn-footer">
        <div class="row align-middle align-center">
            <div class="columns center">
                <p class="light-color small-font bold">Version 0.1.3</p>
            </div>
        </div>
    </div>
</div>