<div layout="row" ng-controller="layout.standard.filtersController">
   <div flex="10"></div>
        <div layout="column" flex="80">
                <div layout="row">
                        <div layout-margin flex="15">
                                <md-input-container class="md-block">
                                        <label>Categories</label>
                                        <md-select ng-model="filter.category" ng-change="SelectSubcategories(filter.category)" multiple>
                                                <md-option ng-repeat="category in categoryNames" ng-value="category">
                                                        {[{category.label}]}
                                                </md-option>
                                        </md-select>
                                </md-input-container>
                        </div>
                        <div layout-margin flex="15">
                                <md-input-container class="md-block">
                                        <label>Sub-Categories</label>
                                        <md-select ng-model="filter.subcategory" ng-change="SelectSecondarycategories(filter.subcategory)" multiple>
                                                <md-option ng-repeat="subcategory in subCategories track by $index" ng-value="subcategory">
                                                        {[{subcategory}]}
                                                </md-option>
                                        </md-select>
                                </md-input-container>
                        </div>
                        <div layout-margin flex="15">
                                <md-input-container class="md-block">
                                        <label>Secondary Sub Category</label>
                                        <md-select ng-model="filter.secondaryCategory" ng-change="selectedTertiaryCategories(filter.secondaryCategory)" multiple>
                                                <md-option ng-repeat="category in secondaryCategories" ng-value="category">
                                                        {[{category}]}
                                                </md-option>
                                        </md-select>
                                </md-input-container>
                        </div>
                        <div layout-margin flex="15">
                                <md-input-container class="md-block">
                                        <label>Teritary Sub Category</label>
                                        <md-select ng-model="filter.tertiaryCategory" multiple>
                                                <md-option ng-repeat="category in tertiaryCategories" ng-value="category">
                                                        {[{category}]}
                                                </md-option>
                                        </md-select>
                                </md-input-container>
                        </div>

                </div>
                <div layout="row">
                        <div layout-margin flex="15">
                                <md-input-container class="md-block">
                                        <label>Country</label>
                                        <md-select ng-model="filter.country" ng-change="selectStates(filter.country)" multiple>
                                                <md-option ng-repeat="country in totalCountries" ng-value="country">
                                                        {[{country}]}
                                                </md-option>
                                        </md-select>
                                </md-input-container>
                        </div>
                        <div layout-margin flex="15">
                                <md-input-container class="md-block">
                                        <label>State</label>
                                        <md-select ng-model="filter.state" ng-change="selectCities(filter.state)" multiple>
                                                <md-option ng-repeat="state in totalStates" ng-value="state">
                                                        {[{state}]}
                                                </md-option>
                                        </md-select>
                                </md-input-container>
                        </div>
                        <div layout-margin flex="15">
                                <md-input-container class="md-block">
                                        <label>Cities</label>
                                        <md-select ng-model="filter.cities" multiple>
                                                <md-option ng-repeat="city in totalCities" ng-value="city">
                                                        {[{city}]}
                                                </md-option>
                                        </md-select>
                                </md-input-container>
                        </div>

                </div>
                <div layout="row" ng-if="!showItemType">
                        <div layout-margin flex="15">
                                <md-input-container class="md-block">
                                        <label>Item Type</label>
                                        <md-select ng-model="filter.item" multiple>
                                                <md-option ng-repeat="item in itemType" ng-value="item">
                                                        {[{item}]}
                                                </md-option>
                                        </md-select>
                                </md-input-container>
                        </div>
                        <div layout-margin flex="15">
                                <md-input-container class="md-block">
                                        <label>Industry</label>
                                        <md-select ng-model="filter.industry" multiple>
                                                <md-option ng-repeat="industry in allIndustries" ng-value="industry.id">
                                                        {[{industry.industry}]}
                                                </md-option>
                                        </md-select>
                                </md-input-container>
                        </div>
                        <div layout-margin flex="15">
                                <md-input-container class="md-block">
                                        <label>Manufacturer</label>
                                        <md-select ng-model="filter.manufacturer" multiple>
                                                <md-option ng-repeat="item in manufacturerList" ng-value="item.id">
                                                        {[{item.manufacturer}]}
                                                </md-option>
                                        </md-select>
                                </md-input-container>
                        </div>
                        <div layout-margin flex="15">
                                <md-input-container class="md-block">
                                        <label>Supplier</label>
                                        <md-select ng-model="filter.supplier_company">
                                                <md-option ng-repeat="item in companyList" ng-value="item.company_name">
                                                        {[{item.company_name}]}
                                                </md-option>
                                        </md-select>
                                </md-input-container>
                        </div>
                </div>
        </div>
        <div layout="column" flex="20">
                <div layout="row" layout-align="end end">
                        <md-button class="md-raised md-primary" id="apply-filters" ng-click="InventoryFilters(filter)">Apply Filters</md-button>
                        <md-button class="md-raised md-primary" ng-click="clear()">Clear</md-button>
                </div>
        </div>
        <div flex="10"></div>
</div>

<div layout="column" layout-align="start center" class="m-b-2">
        <div layout="row" flex>
                <div id="inventory-grid" flex ui-grid="gridOptions" class="grid" ui-grid-edit ui-grid-pagination></div>
        </div>
</div>