<!-- <section class="white-bg color-004F8A">
  <div class="column margin-top-4">
    <a href="/inventory/list/category"><h5>Inventory</h5></a>
    <div class="product-font">Database of stock or Suppliers material, used equipment & scrap metal
      <a class="button  col-sm-3 col-xs-4 float-right inventory-heading" href="/inventory/list/category">Explore Inventory</a>
    </div>
  </div>

  <div class="my-row scroll">
    <div class="Pbar">
      <div class="my-col" ng-repeat="c in inventoryData | limitTo : 10" ng-click="openResult(c,'inventory')">
        <img class="Simg" ng-src="{[{c.image_url?c.image_url:'/assets/img/sample-pro.jpg'}]}" alt="{[{c.image_url?c.image_url.split('/').pop():'sample-pro.jpg'}]}">
        <div ng-bind="::c.categoriesNames"></div>
      </div>
    </div>
  </div>
</section>
<div class="clear-fix"></div>
<section class="white-bg heading-bg">
  <div class="column margin-top-4">
    <div><a href="/rental/list/category"><h5>Rental</h5></a></div>
    <div class="product-font">Rent equipment & accessories
        <a class="button col-sm-3 col-xs-4 float-right directory-heading" href="/rental/list/category" >Explore Rental</a>
    </div>
  </div>

  <div class="my-row scroll">
    <div class="Pbar">
      <div class="my-col" ng-repeat="c in RentalData | limitTo : 10" ng-click="openResult(c,'rental')">
        <img class="Simg" ng-src="{[{c.image_url?c.image_url:'/assets/img/sample-pro.jpg'}]}" alt="{[{c.image_url?c.image_url.split('/').pop():'sample-pro.jpg'}]}">
        <div ng-bind="::c.categoriesNames"></div>
    </div>
  </div>
</section>
<div class="clear-fix"></div>
<section class="white-bg heading-bg">
  <div class="column margin-top-4">
      <div><a href="/companies/list"><h5>Directory</h5></a></div>
      <div class="product-font">Repository of product & supplier information
        <a class="button col-sm-3 col-xs-4 float-right directory-heading" href="/companies/list" >Explore Directory</a>
      </div>
    </div>
  
  <div class="my-row scroll">
    <div class="Pbar">
      <div class="my-col" ng-repeat="c in directoryData | limitTo : 10" ng-click="openResult(c,'directory')">
        <img class="Simg" ng-src="{[{c.image_url?c.image_url:'/assets/img/sample-pro.jpg'}]}" alt="{[{c.image_url?c.image_url.split('/').pop():'sample-pro.jpg'}]}">
        <div ng-bind="::c.categoriesNames"></div>
    </div>
  </div>
</section> -->
<div class="clear-fix"></div>
<section class="white-bg">
  <div class="col-md-12 testimonial-border">
    <div class="row container align-middle align-center p-t-10">
      <div class="margin-top-4">
        <h6>
          <span class="primary-line">
            <i>Client Testimonials</i>
          </span>
        </h6>
      </div>
    </div>
    <div class="orbit">
      <div class="orbit-wrapper align-center">
        <div class="orbit-controls">
          <button class="orbit-previous testimonialsArrows color-blue">
            <span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
          <button class="orbit-next testimonialsArrows color-blue">
            <span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
        </div>
        <ul class="orbit-container">
          <li class="orbit-slide">
            <div class="testimonial-slide row">
              <div class="small-12 large-9 column">
                <div class="client-testimonial">
                  <img src="/assets/img/Abdul Ghafoor Fazal.jpg" alt="Avatar">
                  <p class="p-font-size">Supplierscave did a great job in helping us reachout to potential Customers to generate leads. I am sure we have
                    much more to gain as they scale and expand their reach in the B2B market..</p>
                  <p> <span> Abdul Ghafoor Fazal.</span> </p>
                  <p>
                    <span>CEO</span>
                    <span class="testimonial-company">,Cosmere Technologies.</span>
                  </p>
        
                </div>
              </div>
            </div>
          </li>
          <li class="orbit-slide">
            <div class="testimonial-slide">
              <div class="small-12 large-9 column">
                <div class="client-testimonial">
                  <img src="/assets/img/Aswin.png" alt="Avatar">
                  <p class="p-font-size">Supplierscave has given us and continue to be “an additional channel for sales” in terms of penetration into small
                    size EPCs/ Customers and Engineering fabricators. Being a Valve manufacturer / project package supplier, we generally
                    focus on large projects with forward delivery requirements, whereas there is an equal potential for catering
                    to end users as well as contractors who look for quicker deliveries for shutdown jobs, project top-up requirements,
                    fast track projects etc.We wish to work with you on this segment of the market, with necessary adaptations in
                    our manufacturing process, faster procurement of raw material etc</p>
                  <p>
                    <span> Ashwin Shetty.</span>
                  </p>
                  <p>
                    <span>Sales Director</span>
                    <span class="testimonial-company">, STEELSTRONG VALVES– UAE.</span>
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li class="orbit-slide">
            <div class="testimonial-slide">
              <div class="small-12 large-9 column">
                <div class="client-testimonial">
                  <img src="/assets/img/sharad.jpg" alt="Avatar">
                  <p class="p-font-size">The deal flow from Supplierscave has been growing steadily. Initially the leads were slow, but steady. Over the
                    period we have seen a great jump in the number of deals. Also since they liquidate surplus material, we get to
                    know the details of Surplus material to be scrapped in advance .</p>
        
                  <p>
                    <span> Sharad Sharma.</span>
                  </p>
                  <p>
                    <span>Managing Director</span>
                    <span class="testimonial-company">, MRP International FZE RAK.</span>
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li class="orbit-slide">
            <div class="testimonial-slide">
              <div class="small-12 large-9 column">
                <div class="client-testimonial">
                  <img src="/assets/img/sargunam.png" alt="Avatar">
                  <p class="p-font-size">The number of enquiries we received increased tremendously after we subscribed to Supplierscave. In addition to
                    that they are building several tools that are helping us manage our supply chain process. Being one of the first
                    to try out the tools , we are able to provide a feedback and customise to suit our needs.</p>
                  <p>
                    <span> Mr.Sargunam.</span>
                  </p>
                  <p>
                    <span>Managing Director</span>
                    <span class="testimonial-company">, VALMARK DWC LLC.</span>
                  </p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<div class="clera-fix"></div>
<div class="clera-fix"></div>
<!-- <section class="white-bg">
  <div class="padding-5 margin-5" layout="row" layout-xs="column">
    <div flex>
        <div class="font-w-600 text-align-center">Graduated from YC Startup school 2019</div>
        <a href="https://www.startupschool.org/companies/supplierscave" target="_blank">
          <img class="img-resize"  src="/assets/img/startupschool.jpeg" alt="startup school">
        </a>
    </div>
    <div flex>
        <div class="font-w-600 text-align-center">Part of</div>
        <img class="img-resize"  src="/assets/img/fb-start-logo.png" alt="fb-start-logo">
    </div>
    <div flex>
        <div class="font-w-600 text-align-center">Featured in Producthunt</div>
         <a href="https://www.producthunt.com/posts/supplierscave?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-supplierscave" target="_blank">
          <img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=165728&theme=light"
            alt="supplierscave - Integrating the Supplychain! | Product Hunt Embed"  class="img-resize"/></a>
    </div>
    <div flex>
        <div class="font-w-600 text-align-center">Powered by AWS activate</div>
        <img class="img-resize" src="/assets/img/awslogo.png" alt="aws">
    </div>
    <div flex>
        <div class="font-w-600 text-align-center">Featured in</div>
        <a href="https://www.arabnet.me/english/editorials/events/competitions/meet-kuwaits-startup-battle-finalists-and-runner-ups" target="_blank">
          <img class="img-resize"  src="/assets/img/arabnet-logo.png" alt="arabnet">
        </a>
    </div>
    <div flex>
        <div class="font-w-600 text-align-center">Winners of</div>
        <a href="https://www.arabnet.me/english/editorials/events/competitions/meet-the-winners-from-startup-battle-muscat" target="_blank">
            <img class="img-resize"  src="/assets/img/START UP BATTLE MUSCAT.png" alt="startup-battle-muscat">
        </a>
    </div>
    
    <div flex>
        <div class="font-w-600 text-align-center">Part of</div>
        <a href="https://www.arabnet.me/english/editorials/events/competitions/startups-to-battle-it-out-at-2nd-edition-of-arabnet-startup-championship" target="_blank">
          <img class="img-resize"  src="/assets/img/STARTUP CHAMPIONSHIP.png" alt="startup-championship">
        </a>
    </div>
  </div>
  <div class="clear-fix"></div>
  <div class="clear-fix"></div>
</section> -->
<section>
     <div layout="row" class="logo-slick" layout-xs="column">
        <div layout="column" flex>
            <slick class="slider" settings="slickConfig">
                <div ng-repeat="item in companyLogos track by $index">
                  <div>
                    <div class="font-w-600 text-align-center">{[{item.title}]}</div>
                     <a href="{[{item.navigate}]}" target="_blank">
                      <img src="{[{item.image}]}"
                        alt="supplierscave - Integrating the Supplychain! | Product Hunt Embed"  class="img-resize"/></a>
                  </div>
                </div>
            </slick>
        </div>
    </div>
     </div>
</section>
