<div class="col-md-12 modal-container">
    <div class="col-md-12 modal-box">
          <div class="col-md-12 modal-title">
             <h4>Instructions:</h4>
          </div>
          <div class="modal-body">
              <p class="user-note">Only supplier administrator is authorised to add and edit product, inventory & rental data. 
                  If you are the Supplier Admin, please write to <u>info@supplierscave.com</u> to provide you the authorization.</p> 
          </div>
          <div class="modal-footerr padding-15">
              <button class="button5" ng-click="ok()">OK</button>
          </div>
      <button ng-click="cancel()" class="close-button" aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  </div>