<div class="container-full-width title-box position-relative">
        <span>Contact us </span>
        <div class="container">
                <h1>Contact us</h1>
        </div>
</div>
<div class="container contact-section">
        <div class="col-md-12 padding-t-b-15">
                <div class="col-md-6 col-xs-12">
                        <div class="col-md-12 padding-l-r-15">
                                <h6>Flat # 403, Acura -E wing,
                                        <br> Rustomjee, Majiwada, Thane West,
                                        <br> Mumbai, Maharashtra, India
                                        <br> Phone: +91 9167093950 / +971 55 194 1302
                                        <br> Mail: info@supplierscave.com
                                </h6>
                        </div>
                        <div class="col-md-12 padding-l-r-15">
                                <div class="mapouter">
                                        <div class="gmap_canvas">
                                                <iframe width="100%" height="300" id="gmap_canvas"
                                                        src="https://maps.google.com/maps?q=Rustomjee, Majiwada, Thane West, Mumbai, Maharashtra, India&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                                        frameborder="0" scrolling="no" marginheight="0"
                                                        marginwidth="0"></iframe>
                                        </div>
                                        <!-- <style>
                                                .mapouter {
                                                        overflow: hidden;
                                                        height: 300px;
                                                        width: 100%;
                                                }

                                                .gmap_canvas {
                                                        background: none !important;
                                                        height: 300px;
                                                        width: 100%;
                                                }
                                        </style> -->
                                </div>
                        </div>

                </div>
                <div class="col-md-6 col-xs-12 margin-xs-t-15">
                        <div class="col-md-12 padding-l-r-15">
                                <h6>Technohub 1, DTEC,
                                        <br> Dubai Silicon Oasis,
                                        <br> Dubai, United Arab Emirates
                                        <br> Phone: +91 9167093950 / +971 55 194 1302
                                        <br> Mail: info@supplierscave.com
                                </h6>
                        </div>
                        <div class="col-md-12 padding-l-r-15">
                                <div class="mapouter">
                                        <div class="gmap_canvas">
                                                <iframe width="100%" height="300" id="gmap_canvas"
                                                        src="https://maps.google.com/maps?q=Techno hub1, DTEC, Dubai Siicon Oasis, Dubai, United Arab Emirates&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                                        frameborder="0" scrolling="no" marginheight="0"
                                                        marginwidth="0"></iframe>
                                        </div>
                                        <!-- <style>
                                                .mapouter {
                                                        overflow: hidden;
                                                        height: 300px;
                                                        width: 100%;
                                                }

                                                .gmap_canvas {
                                                        background: none !important;
                                                        height: 300px;
                                                        width: 100%;
                                                }
                                        </style> -->
                                </div>
                        </div>
                </div>



                <div class="col-md-12 padding-15 contactus">
                        <div class="col-md-6 col-xs-12 float-none m-auto">
                                <h4>Contact Support</h4>
                                <div class="col-md-12 contact-form-group"
                                        ng-hide="current_user.token || current_user.data.avatar">
                                        <div class="col-md-12">
                                                <label class="label-l" for="Companyname">Name</label>
                                        </div>
                                        <div class="col-md-12">
                                                <input id="Companyname" class="login-box-input" type="text"
                                                        name="Companyname" placeholder="Name" ng-model="user.name" />
                                        </div>
                                </div>
                                <div class="col-md-12 contact-form-group"
                                        ng-hide="current_user.token || current_user.data.avatar">
                                        <div class="col-md-12">
                                                <label class="label-l" for="Phonenumber">Phone number</label>
                                        </div>
                                        <div class="col-md-12">
                                                <input id="Phonenumber" class="login-box-input" type="text"
                                                        name="Phonenumber" placeholder="Phone number"
                                                        ng-model="user.contactNo" />
                                        </div>
                                </div>
                                <div class="col-md-12 contact-form-group"
                                        ng-hide="current_user.token || current_user.data.avatar">
                                        <div class="col-md-12">
                                                <label class="label-l" for="Emailid">Email id</label>
                                        </div>
                                        <div class="col-md-12">
                                                <input id="Emailid" class="login-box-input" type="text" name="Emailid"
                                                        placeholder="Email id" ng-model="user.emailId" />
                                        </div>
                                </div>
                                <div class="col-md-12 contact-form-group">
                                        <div class="col-md-12">
                                                <!-- <label class="label-l" for="Message">Message</label> -->
                                        </div>
                                        <div class="col-md-12">
                                                <!-- <textarea rows="4" id="Message" class="login-box-input" type="text"
                                                        name="Message" placeholder="Leave a message"
                                                        ng-model="message"></textarea> -->
                                                <md-input-container class="md-block" flex-gt-sm="">
                                                        <label>Leave a Message</label>
                                                        <textarea id="Message" name="Message" ng-model="message" rows="5"></textarea>
                                                </md-input-container>
                                        </div>
                                </div>
                                <div class="col-md-12 contact-form-group">
                                        <div class="text-align-center">
                                                <button type="submit" class="button2"
                                                        ng-click="submitMessage(user,message)">
                                                        SUBMIT
                                                </button>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
        <div class="clear-fix"></div>
</div>