<div class="container products-section no-padding">
    <div class="col-md-12 padding-15">
      <div id="search-box" class="col-md-6">
        <!-- SearchBox widget will appear here -->
      </div>
      <div id="clear-all" class="col-md-3 clear-all-button">
        <!-- SearchBox widget will appear here -->
      </div>
      <div class="col-md-3">
          <button  class="button float-right" ng-click="sendEnquiry('large',selectedCompanies)">Send Enquiry</button>
      </div>
    </div>
    <div class="col-md-12">
        <div id="stats-container" class="col-md-12">
          <!-- SearchBox widget will appear here -->
        </div>
    </div>
    <div class="col-md-12">
        <div id="hits" class="col-md-12">
          <!-- Hits widget will appear here -->
        </div>
      </div>
    <div class="col-md-12 padding-15">
        <div id="pagination" class="float-none m-auto"></div>
    </div>
  
  <div class="float-right">
    <img src="/assets/img/search-by-algolia.png"  class="h-20" alt="jacket" alt="search">
  </div>
  <div class="clear-fix"></div>
</div>

<!-- TEMPLATES -->
<script type="text/html" id="hitTemplate">
  <div class="selectItem">
    <span class="hitObjectId hidden-xs hidden-lg hidden-md hidden-sm">{{objectID}}</span>
    <input  type="checkbox" ng-model="checkboxValue" id="selectCompany"/>
  </div>
  <div class="hit">  
    <div class="hit-image col-xs-12">
      <img class="hit-image-resize" src="{{logo}}" alt="{{name}}">
    </div>
    <div class="hit-content col-xs-12 no-margin-xs">
      <div class="col-md-12">
        <div class="col-md-7">
            <h2 class="hit-name"><span class="hitObjectId display-none">{{objectID}}</span>{{company_name}}</h2>
        </div>
        <div class="col-md-5">
          <label>Location</label>
          <p class="hit-location">{{locations}}</p>
        </div>
      </div> 
      <div> <p class="font-size-14 m-b-10">{{role_type_name}}</p> </div>  
      <div class="col-md-12">
          <label for="description">Description</label>
          <p class="hit-description">{{aboutus_text}}</p>
      </div>
      <div class="hit-extra col-md-12">
          <label>Products</label>
          <p class="font-size-14"> {{products_text}}</p>        
      </div>
    </div> 
  </div>
</script>
<div ng-include="'/assets/js/modules/company/company-names/companynames.html'"></div>
<div ng-include="'assets/js/modules/directory/states/list/views/content/modalpopup/send-company-enquiry.html'"></div>
<script type="text/html" id="no-results-template">
<div id="no-results-message">
  <p>We didn't find any results for the search <em>"{{query}}"</em>.</p>
</div>
</script>
<!-- /TEMPLATES -->