.widget-footer{
  padding: 60px 0;
  background-color: $primary-color;
  h3{
    font-size: 18px;
    line-height: 32px;
    font-weight: 900;
    margin-bottom: 10px;
  }
  .white-block-content{
    padding: 0;
    border: none;
    ul{
      margin: 0;
      li{
        margin-bottom: 7px;
        a{
          color: $white;
          font-size: 14px;
        }
      }
    }
  }

  .widget_compare_social{
    ul{
      margin-top: 20px;
      li{
        float: left;
        margin: 15px -1px 0 0;
        padding: 0;
        display: inline-block;
        a{
          color: $white;
          padding: 10px 12px;
          i{
            width: 1.28571429em;
          }
        }
      }
    }
  }
}
.footer{
  padding: 10px 0;
  background-color: $primary-color;
  font-size: 13px;
  font-weight: 900;
}