<div class="clear-fix"></div>
<footer class="widget-footer">
  <div class="container">
    <div class="row">
        <div class="column small-6 medium-3">
            <div class="widget white-block owl-parent widget_compare_custom_menu p-t-0">
              <div class=""><h3 class="footer-headings">Information</h3></div>
              <div class="white-block-content">
                <ul class="list-unstyled">
                  <li> <a target="_self" href="/companies/list" id="companies"> Products </a></li>
                  <li> <a target="_self" href="/inventory/list/category" id="inventory">Inventory</a></li>
                  <li> <a target="_self" href="/rental/list/category" id="footer-rental"> Rental </a></li>
                  <li> <a target="_self" href="/pricing" id="footer-pricing"> Pricing </a></li>
                </ul>
              </div>
            </div>
          </div>
      <div class="column small-6 medium-3">
        <div class="widget white-block owl-parent widget_compare_custom_menu p-t-0">
          <div class=""><h3 class="footer-headings">SuppliersCave</h3></div>
          <div class="white-block-content">
            <ul class="list-unstyled">
              <li> <a target="_self" href="/"> Home </a></li>
              <li> <a target="_self" href="/about-us" id="aboutUs"> About Us </a></li>
              <li><a target="_self" href="/how-it-works" id="how-it-works">How it Works</a></li>
              <li> <a target="_blank" href="https://www.blog.supplierscave.com/"> Blog </a></li>
              <li> <a target="_self" href="/press"> Press </a></li>
              <!-- <li> <a target="_self" href=""> Products </a></li> -->
            </ul>
          </div>
        </div>
      </div>
      <div class="column small-6 medium-2">
        <div class="widget white-block owl-parent widget_compare_custom_menu p-t-0">
          <div class=""><h3 class="footer-headings">Support</h3></div>
          <div class="white-block-content">
            <ul class="list-unstyled">
              <li><a target="_self" href="/contact" id="contact">Contact</a></li>
              <li><a target="_self" href="/frequently-asked-questions" id="frequently-asked-questions"> FAQ </a></li>
              <li><a target="_self" href="/help" id="help"> Help </a></li>
              <!-- <li><a target="_self" href="/terms-and-conditions"> Terms of Use </a></li> -->
            </ul>
          </div>
        </div>
      </div>
      <div class="column small-12 medium-4">
        <div class="widget white-block owl-parent widget_compare_social">
          <div class="column small-12">
              <a target="_self" href="/" id="widget-logo" class="widget-logo">
                <img src="/assets/img/supplierscave-logo.png" class="widget-img" alt="supplierscave-logo">
              </a>
              
          </div>
          <div class="column small-12">
              <ul class="list-unstyled list-inline social-icons">
                <li><a href="https://www.facebook.com/supplierscave/" target="_blank"><i id="footer-facebook" class="fa fa-facebook"></i></a></li>
                <li><a href="http://google.com/+Supplierscave" target="_blank"><i id="footer-google" class="fa fa-google-plus"></i></a></li>
                <li><a href="https://twitter.com/supplierscave" target="_blank"><i id="footer-twitter" class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/company/supplierscave.com" target="_blank"><i id="footer-linkedin" class="fa fa-linkedin"></i></a></li>
                <li><a href="https://www.youtube.com/c/Supplierscave" target="_blank"><i id="footer-youtube" class="fa fa-youtube-play"></i></a></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="small-12 center">
        <div class="light-color"> 
            <span>All Rights Reserved © 2019|a Brand of Centauri Technologies FZE</span>
          <a class="light-color" target="_self" href="/privacy-policy" id="privacy-policy"> | Privacy policy </a>
          <a class="light-color" target="_self" href="/terms-and-conditions" id="terms-and-conditions"> | Terms of use </a>
        </div>
      </div>
    </div>
  </div>
</footer>