<div layout="column" layout-align="start center">
    <div layout="row" layout-sm="column" ng-if="showLoader" layout-align="center center" class="loader">
        <div layout="column"> 
            <md-progress-circular md-mode="indeterminate" class="loader-2"></md-progress-circular>    
        </div> 
    </div>
    <div layout="column" flex ng-controller="layout.standard.filtersController" class="md-padding md-margin main-card">
        <md-card-content>
            <div layout="row" layout-xs="column">
                <div layout="column" flex layout-gt-xs="row">
                    <div flex class="md-display-1">
                        Manage Offers
                    </div>
                    <span layou-xs="column">
                        <div layout-xs="row" layout-align="end">
                            <md-button class="md-icon-button" ng-click="EnquiryFilters(enquiry)">
                                <md-icon class="material-icons managecustomericon" title="Apply Filters">filter_list</md-icon>
                            </md-button>
                            <md-button class="md-icon-button" ng-click="clear()">
                                <md-icon class="material-icons managecustomericon color-red" title="Clear Filters">close</md-icon>
                            </md-button>
                        </div>
                    </span>
                </div>
            </div>
            <div layout="row" layout-xs="column">
                <div layout="column" flex layout-gt-xs="row">
                    <div flex>
                        <md-input-container class="md-block">
                            <label>Customer</label>
                            <md-select ng-model="enquiry.customer">
                                <md-option ng-repeat="customer in customersList" ng-value="customer">
                                    {[{customer.name}]}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div flex>
                        <md-input-container class="md-block">
                            <label>Project</label>
                            <md-select ng-model="enquiry.project" ng-change="subProjectFilter(enquiry.project)">
                                <md-option ng-repeat="project in projectNames" ng-value="project">
                                    {[{project.label}]}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div flex>
                        <md-input-container class="md-block">
                            <label>Enquiry Type</label>
                            <md-select ng-model="enquiry.enquiry_type">
                                <md-option ng-repeat="type in projectType" ng-value="type">
                                    {[{type.name}]}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>
            </div>
            <div layout="row" layout-xs="column">
                <div layout="column" flex layout-gt-xs="row">
                    <div flex>
                        <md-input-container class="md-block">
                            <label class="md-caption">Date From</label>
                            <md-datepicker type="date" layout="row" name="Date" id="datefrom" ng-model="enquiry.date_from"></md-datepicker>
                        </md-input-container>
                    </div>
                    <div flex>
                        <md-input-container class="md-block">
                            <label class="md-caption">Date From</label>
                            <md-datepicker type="date" layout="row" name="Date" id="datefrom" ng-model="enquiry.date_to"></md-datepicker>
                        </md-input-container>
                    </div>
                    <div flex></div>
                </div>
            </div>

        </md-card-content>
        <div layout="row" class="dotted-border"></div>
        <div layout="row" class="margin-top-2">
            <div flex>
            </div>
            <span>
                <!-- <i class="material-icons managecustomericon" ng-if="type==='Sent'" ng-click="editOffer(item)" title="Edit Offer">edit</i> -->
                <md-button class="md-icon-button" ng-click="sendOffer('large',selectedOffers,totalOffers)">
                    <md-icon class="material-icons managecustomericon" ng-if="type==='Sent'" title="Send Offer">send</md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="deleteOffer(selectedOffers)">
                    <md-icon class="material-icons managecustomericon color-red" ng-if="type==='Sent'" title="Delete Offer">delete</md-icon>
                </md-button>
            </span>
        </div>
    </div>
</div>
</div>
<div layout="column" layout-align="start center" class="md-margin md-padding">
    <div class="margin-r-55">Total
        <b>{[{count}]}</b> records</div>
    <div layout="column" class="list-cards" flex ng-repeat="item in totalOffers" track by $index>
        <div layout="row">
            <md-checkbox ng-change="selectedValue(item,$index,item.checked)" ng-model="item.checked"></md-checkbox>
            <div layout="column" flex>
                <md-card md-theme-watch ng-click="viewOffer(item)">
                    <md-card-content>
                        <div layout="row" layout-xs="column">
                            <div layout="column" flex layout-margin layout-gt-xs="row">
                                <div flex>
                                    <label class="md-caption">Offer Number</label>
                                    <p class="md-body-1">{[{ item.offer_number ? item.offer_number : 'N/A'}]}</p>
                                </div>
                                <div flex>
                                    <label class="md-caption">Date</label>
                                    <p class="md-body-1">{[{ item.dateFormate }]}</p>
                                </div>
                                <div flex>
                                    <label class="md-caption">Project/Enquiry Name</label>
                                    <p class="md-body-1" ng-if="item.project">{[{item.project ? item.project.name : 'N/A'}]}</p>
                                    <p class="md-body-1" ng-if="item.enquiry">{[{item.enquiry.project? item.enquiry.project.name :'NA'}]}</p>
                                </div>
                                <div flex>
                                    <label class="md-caption">Project/Enquiry #</label>
                                    <p class="md-body-1" n ng-if="item.enquiry">{[{item.enquiry.enquiry_number?item.enquiry.enquiry_number:'NA'}]} {[{item.enquiry.revision_number?item.enquiry.revision_number:''}]}</p>
                                    <p class="md-body-1">{[{item.project ? item.project.internal_reference_number + ':'+item.project.revision_number
                                        : 'N/A'}]}</p>
                                </div>
                                <div flex>
                                    <label class="md-caption">Customer</label>
                                    <p class="md-body-1" ng-if="item.project">{[{ item.project ? item.project.customer.name : 'NA' }]}</p>
                                    <p class="md-body-1" ng-if="item.enquiry.project">{[{ item.enquiry.project.customer ? item.enquiry.project.customer.name : 'NA' }]}</p>
                                </div>
                                <div flex>
                                    <label class="md-caption">Offer By</label>
                                    <p class="md-body-1">{[{ item.firstname }]} {[{ item.lastname }]}</p>
                                </div>
                            </div>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</div>
<div layout="row" layout-margin layout-align="center center">
    <div>
        <pagination page="currentPage" total-items="count" max-size="maxSize" ng-click="setPage(currentPage)" boundary-links="true">
        </pagination>
    </div>
</div>