<section class="container">
  <div class="row column margin-bottom-2">
    <h5>Django Rest <small>Quick Explainer</small></h5>
    <p class="bold">Provides a handy reference to Django-Rest on top of <code>best-practice-django</code> repo</p>
    
  </div>
  <div class="row small-up-2">
    <div class="column">
      <p class="large-font underline">Step 1: Setting up model</p>
      <div class="callout primary">
        <p>Handles SQL table structure</p>
      </div>
      <ol>
        <li>Start the app using <code>./manage.py startapp model_name_plural</code> at Django & add to config</li>
        <li>Make the model at <code>model.py</code></li>
        <li>Run <code>.manage.py makemigrations</code> in a separate window. No need to close the window with app running</li>
        <li>Run <code>.manage.py migrate</code> here</li>
      </ol>
      <p class="bold">Best Practices</p>
      <ol>
        <li>Always go for making a FAT model</li>
      </ol>
    </div>
    <div class="column">
      <p class="large-font underline">Step 2: Create Serializer</p>
      <div class="callout primary">
        <p>Model to python dict</p>
      </div>
      <ol>
        <li>Create the serializer in the same folder where the app is</li>
        <li>Serializer can be created in these many ways:
          <ul>
            <li>Use <code>serializers.Serializer</code> to create a <span class="bold">custom</span> Serializer</li>
            <li>Use <code>serializers.ModelSerializer</code> as a shortcut for:
              <ul>
                <li>An automatically determined set of fields.</li>
                <li>Simple default implementations for the <code>create()</code> and <code>update()</code> methods.</li>
              </ul>
            </li>
          </ul>
        </li>
      </ol>
    </div>
    <div class="column">
      <p class="large-font underline">Step 3: Create View</p>
      <div class="callout primary">
        <p>Handles Permissions & Authentication</p>
      </div>
      <p class="margin-bottom-1">Views take a request in & will deliver a JSON response out. It may use multiple <code>serializers</code> to do so. It will be attached to one or more <code>urls</code></p>
      <ol>
        <li>Create the view file in the same app folder</li>
        <li>Views can be created using either of these approaches:
          <ul>
            <li>Regular Function Based Views like present <a href="http://www.django-rest-framework.org/tutorial/1-serialization/#writing-regular-django-views-using-our-serializer">here</a>.</li>
            <li>Class Based Views using following reusable bits of behaviour:
                <ul>
                  <li><code>generics.GenericAPIView</code>: Provides core functionality</li>
                  <li>All
                    <ul>
                      <li><code>mixins.ListModelMixin</code>: Provides list() method</li>
                      <li><code>mixins.CreateModelMixin</code>: Provides create() method</li>    
                    </ul>
                  </li>
                  <li>
                  ID specific
                    <ul>
                      <li><code>mixins.RetrieveModelMixin</code>: Provides retrieve() method</li>
                      <li><code>mixins.UpdateModelMixin</code>: Provides update() method</li>
                      <li><code>mixins.DestroyModelMixin</code>: Provides destroy() method</li>    
                    </ul>
                  </li>
                </ul>
            </li>

          </ul>
        </li>
      </ol>
      <p class="bold">Best Practices</p>
      <ol>
        <li>If a view uses more than one serializer, then it becomes a question in which folder the view should be placed. In such scenarios, we should take a look at associated url & we should decide the last part of url as the falling place for the view</li>
      </ol>
    </div>
    <div class="column">
      <p class="large-font underline">Step 4: Create URLs</p>
      <div class="callout primary">
        <p>Attach views to urls</p>
      </div>
      <p class="margin-bottom-1"><code>Urls</code> are the end point where the <code>views</code> is exposed. It creates <code>request object</code> & provides <code>response JSON</code>.</p>
      <ol>
        <li>Add url in the <span class="bold">api</span> folder's url file</li>
        <li>URLs can be created using either of these approaches:
          <ul>
            <li>Standard way like <code>url(r'^snippets/(?P<pk>[0-9]+)/$', views.snippet_detail),</code></li>
            <li></li>
          </ul>
        </li>
      </ol>
      <p class="bold">Best Practices</p>
      <ol>
        <li>If a view uses more than one serializer, then it becomes a question in which folder the view should be placed. In such scenarios, we should take a look at associated url & we should decide the last part of url as the falling place for the view</li>
      </ol>
    </div>
  </div>
  <div class="row column">
    <div class="callout primary">
      <h6>What is HyperLinking?</h6>
      <p>Hyperlinking ( = url ) means using <code>HyperlinkedModelSerializer</code> instead of <code>ModelSerializer</code>. It differs in following ways from former:</p>
      <ul>
        <li>Does not include <code>id</code> by default</li>
        <li>Includes <code>url</code> using <code>HyperlinkedIdentityField</code></li>
        <li>Relationships use <code>HyperlinkedRelatedField</code> instead of <code>PrimaryKeyRelatedField</code></li>
      </ul>
      <p>To Summarize:</p>
      <ul>
        <li><code>StringRelatedField</code> provides <code>__unicode__</code> of the related model</li>
        <li><code>ForeignKeyRelatedField</code> provides <code>id</code> of the related model</li>
        <li><code>HyperlinkedRelatedField</code> provides <code>url</code> of the related model</li>
      </ul>
    </div>
  </div>
  <div class="row column margin-top-2">
    <p class="larger-font bold">Configuring Django</p>
  </div>
  <div class="row small-up-2">
    <div class="column">
      <p class="underline large-font">Configuring links between models</p>
      <p class="margin-bottom-1">Relationships can be either <code>OneToOne</code>, <code>ForeignKey</code> or <code>ManyToMany</code></p>
      <accordion close-others="true">
        <accordion-group>
          <accordion-heading>
            Foregin Key Handling
          </accordion-heading>
          <ul>
            <li>
              Refer a case <code>best-practice-django</code> (snippets>models.py) where we have to make one user has multiple Snippets. This is broken into three steps using <code>ForeignKey</code>:
              <ol>
                <li>
                  <span class="bold">Step 1: Add Foreign Key (in models.py)</span>
                  <ul>
                    <li><code>owner = models.ForeignKey('auth.User', related_name='snippets', on_delete=models.CASCADE)</code></li>
                    <li><code>'auth.User'</code> is Django models.Model. In this case it's pre-packaged User model from <code>django.contrib.auth.models</code></li>
                    <li><code>related_name</code> provides a lookup instance to related <code>User Model</code></li>
                    <li>
                      Handle Deletion of Referenced Object(6 ways)
                      <ul>
                        <li><span class="underline">CASCADE:</span>  <code>on_delete=models.CASCADE</code> meeans than on deletion of a user all related Snippets will be automatically deleted. <span class="alert-color"> If improperly used cascade an delete can delete the entire database on deletion of single user</span></li>
                        <li><span class="underline">PROTECT:</span>  <code>on_delete=models.PROTECT</code> </li>
                        <li><span class="underline">SET_NULL:</span>  <code>on_delete=models.SET_NULL</code> <span class="alert-color">This can create a problem since it makes the foreign key NULL_TYPE which create problem in relationship & leads to inconsistency in application</span></li>
                        <li><span class="underline">SET_DEFAULT:</span>  <code>on_delete=models.SET_DEFAULT</code><span class="success-color">This is the best possible solution</span></li>
                        <li><span class="underline">SET():</span>  <code>on_delete=models.SET()</code> </li>
                      </ul>
                    </li>    
                  </ul>
                </li>
                <li>
                  <span class="bold">Step 2: Save / Associate (in views.py)</span>
                  <ul>
                    <li>In this case since owner has to be extracted from request object we use <code>self.request.user</code> where self signifies this instance. This is added to View. Since Snippet Serializer needs it as a required object
                    <ul>
                      <li class="alert-color">Why we didn't pace it in <code>models.py</code> by making field optional & handling it during save() method of Snippet instance?</li>
                      <li class="alert-color">Why have we not placed it directly in serializer?</li>
                    </ul>
                    </li>
                  </ul>
                </li>
                <li>
                  <span class="bold">Step 3: (Optional) Add Foreign Key Reverse Relationship (in User's serializers.py)</span>
                  <ul>
                    <li>Case: User response should also tell details of snippets a user wrote</li>
                    <li>In this case Snippet has a foreign key of User & therefore User has a <code>reverse-relationship</code> on Snippet</li>
                    <li>This is handled at the <code>UserSerializer</code> level by using:
                    <br><br><code>serializers.PrimaryKeyRelatedField</code> - If you are using <code>serializers.ModelSerializer</code> THis will give a column
                    <br><br><code>serializers.HyperlinkedRelatedField</code> - If you are using.<code>serializers.HyperlinkedModelSerializer</code> This will give url
                    </li>
                  </ul>
                </li>
                
              </ol>
            </li>
          </ul>
        </accordion-group>
        <accordion-group>
          <accordion-heading>
            Referencing foreign key fields
          </accordion-heading>
            <ul>
              <li><span class="bold">If foreign key is present in the model</span>: We can simply use <code>model_obj.foreign_field.any_field_present_there</code></li>
            <li><span class="bold">If this is related key & doesn't have a field in model</span>: We have to use this <code>users.snippets_set.all()</code> or <code>obj.relatedName_set.all</code>.</li>
            </ul>
        </accordion-group>
      </accordion>
     

    </div>
      <div class="column">
      <p class="underline large-font">Other configurations</p>    
      <p class="margin-bottom-1">This is a collection of all other configurations which are typically useful for a project</p>
      <accordion close-others="true">
        <accordion-group>
          <accordion-heading>
            New fields using <code>super</code> on <code>Model</code> <code>save</code> method
          </accordion-heading>
            <ul>
              <li>All use cases where certain columns have to be populated automatically during saving the model will come here. It could be tasks like doing total marks for a candidate once a new mark is added & likewise</li>
              <li>This requires us to over-ride <code>save()</code> method of a Django <code>models.Model</code></li>
              <li>
                Refer from <code>best-practice-django</code> :
                <ul>
                  <li>See Snippets models where we have added owner from <code>highlighted</code></li>
                  <li>Observe how <code>self.highlighted</code> is being populated using an external function named <code>highlight</code> coming from <code>pygments</code></li>
                  <li>You can add a code below in testing table & see HTML getting generated!!</li>
                </ul>
              </li>
            </ul>
        </accordion-group>
        <accordion-group>
          <accordion-heading>
            Different behaviour of existing view on the basis <code>params</code> using <code>super</code> on <code>ModelViewSet</code> using <code>retrieve</code> method
          </accordion-heading>
            <ul>
              <li>Ensure <code>pk</code> param comes in the view. With <code>ModelViewSet</code> it comes default since <code>Router</code> is used to automatically generate all url endpoints</li>
              <li>Create a <code>retrieve</code> function with an <code>if block</code> for dealing with special case & <code>return super block</code> to give control back to the original method</li>
            </ul>
            <p>Following is an example present in <code>users > views.py</code></p>
            <pre>
  def retrieve(self, request, pk=None):
    """
    If provided 'pk' is "me" then return the current user.
    """
    print(pk)

    if request.user and pk == 'me':
        """
        'HyperlinkedIdentityField` requires the 
        1) instance
        2) request in the serializer context
        """
        serializer_instance = request.user # Else User.objects.xxxx was suppoed to be used
        serializer_context = {
            'request': Request(request),
        }

        return Response(UserSerializer(instance=serializer_instance, context=serializer_context).data)

    return super(UserViewSet, self).retrieve(request, pk)

            </pre>
        </accordion-group>
        <accordion-group>
          <accordion-heading>
            New custom view on the basis of new <code>url</code> using custom <code>renderer class</code>
          </accordion-heading>
            <ul>
              <li>A new view can be created using any of the available option</li>
            </ul>
            <p>Following is an example present in <code>snippets > views.py</code></p>
            <pre>
 class SnippetHighlight(generics.GenericAPIView):
    queryset = Snippet.objects.all()
    renderer_classes = (renderers.StaticHTMLRenderer,)

    def get(self, request, *args, **kwargs):
        snippet = self.get_object()
        return Response(snippet.highlighted)
            </pre>
            <p>A url has to be addded in <code>api > v1.py</code></p>
            <code>url(r'^api/v1/snippets/(?P<pk>[0-9]+)/highlight/$', SnippetHighlight.as_view(), name="snippet-detail-highlight"),</code>
        </accordion-group>
        <accordion-group>
          <accordion-heading>
            Readonly fields using <code>Serializer</code> 
          </accordion-heading>
            <ul>
              <li>Use <code>SerializerMethodField</code></li>
              <li>There is a bit of magic at play here so say if we say <code>owner = serializers.SerializerMethodField()</code></li>
              <li>Then we have to create a function like this <code>def get_owner_name(self, obj):</code></li>
              <li>This is the standard protocol</li>
            </ul>
        </accordion-group>
      </accordion>
    </div>
    <div class="column">
      <p class="underline large-font">Authentication</p>
      <accordion close-others="true">
          <accordion-group>
              <accordion-heading>
                Authentication - Overview
              </accordion-heading>
                Authentication looks for two things from <code>request</code> object. Firstly <code>request.user</code> & secondly <code>request.auth</code>
                <ul>
                  <li>If no user or token if found then <code>request.user</code> is set to <code>django.contrib.auth.models.AnonymousUser</code> & <code>request.auth</code> is set to  <code>None</code>
                  </li>
                  <li>Authentication by itself will not disallow any request. It is Permissions which will do this</li>
                </ul>
          </accordion-group>
          <accordion-group>
              <accordion-heading>
                  Setting up Authentication
              </accordion-heading>
                  Authentication classses can be setted up in two ways:
                  <ul>
                    <li>Globally: Using <code>DEFAULT_AUTHENTICATION_CLASSES</code> in config.settings</li>
                    <li>Locally (App - View Level): 
                    <ul>
                      <li>For Class: By extending <code>APIView</code> class in view class</li>
                      <li>For Function: By decorating with <code>@api_view</code> & <code>@permission_classses</code></li>
                    </ul>
                    </li>
                  </ul>
          </accordion-group>
          <accordion-group>
              <accordion-heading> 
                  Strategy - Basic Authentication
              </accordion-heading>
                  <p>Only appropiate for testing. Dont use in production</p>
          </accordion-group>
          <accordion-group>
              <accordion-heading> 
                  Strategy - Token Authentication
              </accordion-heading>
                  Token authentication is appropriate for client-server setups. Following are steps:
                  <ol>
                    <li>Add <code>TokenAuthentication</code> in Authentication Classes</li>
                    <li>Include <code>rest_framework.authtoken</code> to the installed apps settings</li>
                    <li>Make Migrations & Migarte using <code>./manage.py</code></li>
                    <li>Add <code>url(r'^api/token-auth/', views.obtain_auth_token)</code> in url</li>
                    <li>Test on postman and it should work by passing <code>username</code> and <code>password</code> to <code>api/token-auth/</code></li>
                    <li>On success it provides <code>token xxxxxxxxx</code> as HTTP response</li>
                    <li>Setup your client in a way that from hereon it sents a new header field <code>Authorization</code> with value <code>Token xxxxxxxxxxxxx</code></li>
                    <li>Authentication will use this token id to assign <code>req.user</code> & <code>req.auth</code> wherein former is assigned <code>User</code> object and latter is assgined <code>Token Value xxxxxxxxxxx</code></li>
                  </ol>
                  <div class="callout primary">This token should be present in all upcoming HTTP Request. One strategy is to store it in cookies & delete the cookies on logout</div>
          </accordion-group>
          <accordion-group>
              <accordion-heading>
                  Handle Response Status
              </accordion-heading>
                <ul>
                  <li><code>401 Unauthorized</code> means that <code>Authentication</code> failed</li>
                  <li><code>403 Permission Denied</code> means that <code>Authentication</code> passed but <code>Persmission</code> failed</li>
                </ul>
          </accordion-group>
          <accordion-group>
              <accordion-heading>
                  Handle Unauthenticated Requests
              </accordion-heading>
                <code>UNAUTHENTICATED_USER</code> and <code>UNAUTHENTICATED_TOKEN</code> can be used to change the default values
          </accordion-group>
      </accordion>
    </div>
    <div class="column">
      <p class="underline large-font">Permissions</p>
      <accordion close-others="true">
          <accordion-group>
              <accordion-heading>
                  Using existing permissions
              </accordion-heading>
              This is simple as we can follow these steps & get it up & running:
              <ul>
                <li>Go to requried <code>views.py</code>file</li>
                <li>Import permissions from <code>rest_framework</code></li>
                <li>Add <code>permission_classes = (permissions.IsAuthenticatedOrReadOnly,)</code></li>
                <li>Here's the list of permission classes
                  <ul>
                    <li>IsAuthenticated</li>
                    <li>IsAuthenticatedOrReadOnly</li>
                    <li>AllowAny</li>
                    <li>IsAdminUser</li>
                  </ul>
                </li>
              </ul>
          </accordion-group>
          <accordion-group>
              <accordion-heading>
                  Creating new permissions
              </accordion-heading>
              <ul>
                <li>Create a new permission file in the app <code>permissions.py</code></li>
                <li>Import permissions from <code>rest_framework</code></li>
                <li>Create a concrete class using Abstract <code>permissions.BasePermission</code> class</li>
                <li>
                  Use standard function <code>has_object_permission***</code> or <code>has_permission</code> which takes in
                  <ul>
                    <li>self: Current Instance of Class</li>
                    <li>request: Request Object which has <code>request.user</code></li>
                    <li>view</li>
                    <li>obj***: Which has all the attributes present in obj like <code>obj.owner</code></li>
                  </ul>
                </li>
                <li>Note <code>permissions.SAFE_METHODS</code> are all read only requests methods. Check it against <code>request.method</code> to make an if-else statement</li>
                <li><code>return</code> either <code>True</code> or <code>False</code></li>
                <li>Add these permission to a <code>View</code> or <code>ViewSet</code> file. <span class="alert-color">Remember to add a comma after the permission in tuple else it will throw an error</span></li>
              </ul>
              <p class="margin-top-1 margin-bottom-dot5 bold">Sample Implementation</p>
              <p>Create this code in a new <code>permissions.py</code> file</p>
              <pre>
  from rest_framework import permissions
  class IsOwnerOrReadOnly(permissions.BasePermission):
      &quot;&quot;&quot;
      Custom permission to only allow owners of an object to edit it.
      &quot;&quot;&quot;

      def has_object_permission(self, request, view, obj):
          # Read permissions are allowed to any request,
          # so we&#39;ll always allow GET, HEAD or OPTIONS requests.
          if request.method in permissions.SAFE_METHODS:
              return True

          # Write permissions are only allowed to the owner of the snippet.
          return obj.owner == request.user

              </pre>
              <p>Add these permissions in the view you want</p>
              <pre>
    permission_classes = (permissions.IsAuthenticatedOrReadOnly,
          IsOwnerOrReadOnly,)
              </pre>
          </accordion-group>
      </accordion>
         
        
    </div>
    <div class="column">
      <p class="underline large-font">Pagination</p>
    </div>
    <div class="column">
      <p class="underline large-font">Django Filters</p>
      <accordion>
        <accordion-group>
          <accordion-heading>
            Installation
          </accordion-heading>
            <ul>
              <li><code>pip install django-filters</code></li>
              <li>Add to apps <code>INSTALLED_APPS</code></li>
              <li>
              Setup defaults. Go to <code>rest.py</code> & add following in <code>DEFAULT_FILTER_BACKENDS</code>
              <ul>
                <li><code>rest_framework.filters.DjangoFilterBackend</code></li>
                <li><code>rest_framework.filters.OrderingFilter</code></li>
              </ul>
              </li>
            </ul>
        </accordion-group>
        <accordion-group>
          <accordion-heading>
            Configuring
          </accordion-heading>
            <ul>
              <li class="bold">Part 1 (Set Up FilterSet)</li>
              <li>Create a <code>filters</code> file in any app</li>
              <li>Use <code>from django_filters import rest_framework as filters</code> to import filters</li>
              <li>Then create a <code>filters.FilterSet</code> class with Meta containing information about
              <ul>
                <li>model</li>
                <li>fields</li>
              </ul>
              </li>
              <li>It by default can entertain all the fields present in model so you don't have to do any copy paste work</li>
              <li>To add custom field you use this format <code>min_price = django_filters.NumberFilter(name="price", lookup_expr='gte')</code> & follow-up this by putting it in <code>Meta fields</code></li>
              <li class="bold">Part 2 (Customize View)</li>
              <li>Add <code>filter_class = ProductFilter</code> which is imported FilterSet class that we just made</li>
              <li>Note <code>queryset = XXX.objects.all()</code> must be present</li>
              <li>Also add <code>ordering_fields = ('__all__')</code> to enable sorting</li>
            </ul>
        </accordion-group>
        <accordion-group>
          <accordion-heading>
            Supported filters
          </accordion-heading>
          <ul>
            <li class="bold">Core</li>
            <li>Can travel relationship paths like <code>manufacturer__name</code></li>
            <li class="bold">LookUpTypes</li>
            <li>Number: gt, gte, lt, lte | custom_lookup_type| String:  exact, iexact, startswith, endswith, contains, not_contains</li>
            <li>Distinct</li>
            <li class="bold">Filters</li>
            <li>CharFilter matches CharField & TextField</li>
            <li>UUIDFilter matches models.UUIDField</li>
            <li>BooleanFilter</li>
            <li>ChoiceFilter, MultipleChoiceFilter, TypedChoiceFilter, TypedMultipleChoiceFilter</li>
            <li>DateFilter, TimeFilter, DateTimeFilter, IsoDateTimeFilter</li>
            <li>DurationFilter</li>
            <li>ModelChoiceFilter for <code>ForeignKey</code></li>
            <li>ModelMultipleChoiceFilter for <code>ManytoManyField</code></li>
            <li>NumberFilter, NumericFilter, RangeFilter, NumericRangeFilter</li>
            <li>DateRangeFilter, DateFromToRangeFilter</li>
            <li>DateTimeFromToRangeFilte, TimeRangeFilter</li>
            <li>AllValuesFilter</li>
            <li>OrderingFilter</li>
          </ul>
        </accordion-group>

      </accordion>
    </div>
        <div class="column">
      <p class="underline large-font">Django File or Image Upload Upload</p>
      <accordion>
        <accordion-group>
          <accordion-heading>
            Basics
          </accordion-heading>
            <ul>
              <li>When files are submitted it becomes a part of <code>request.FILES</code></li>
              <li class="alert-color bold">It's mandatory for HTML form to have an attribute <code>enctype="multipart/form-data"</code> to support this correctly</li>
              <li>DJango supports <code>FileField</code> & <code>ImageField</code> through this. These field will just contain the reference to the file and will not contain the actual file</li>
            </ul>
        </accordion-group>
        <accordion-group>
          <accordion-heading>
            Configuring
          </accordion-heading>
            <ul>
              <li class="bold">Local File Save</li>
              <li>This reference are setted up using <code>MEDIA_URL</code> & <code>MEDIA_ROOT</code> in settings.py</li>
              <li>To make url for viewing them we have to add this <code>urlpatterns += static(settings.MEDIA_URL, document_root=settings.MEDIA_ROOT)</code></li>
              <li>Add this to models <code>document = models.FileField(upload_to='documents/%Y/%m/%d/', blank=True, null=True)</code></li>
              <li>Migrate the model & it will work</li>
              <li>For making sure it works on <code>PATCH or PUT</code> request, we will use this code in our <code>ViewSets</code></li>
              <pre>
def perform_update(self, serializer):
  serializer.save(document=self.request.FILES.get('file'))
              </pre>
              <li>This code will ensure that our file is saved</li>
            </ul>
        </accordion-group>
        <accordion-group>
          <accordion-heading>
            Extras
          </accordion-heading>
          
        </accordion-group>

      </accordion>
    </div>
  </div>

</section>

<!-- Authentication -->
<section class="container margin-top-2 margin-bottom-2">
  <div class="row column align-center">
    <p class="larger-font primary-color">Login View</p>
  </div>
  <div class="row">
    <div class="column small-5">
      <form name="LoginForm" ng-submit="current_user.login(login,LoginForm.$valid)" ng-controller="guide.djangoRestContoller.LoginController" novalidate>
      <input type="text" name="username" ng-model="login.username" required ng-required="true">
      <input type="password" name="password" ng-model="login.password" required ng-required="true">
      <button class="button" ng-click="current_user.login(login,LoginForm.$valid)" ng-disabled="LoginForm.$invalid">Login</button>
      <a href="/api/login/google-oauth2" target="_self">Login with Google</a>
      <div ng-show="!current_user.data.username" class="callout alert">
        <p>Not Logged In</p>  
      </div>
      <div ng-show="current_user.data.username" class="callout success">
        <p>Logged in with Token {[{current_user.token}]} as {[{current_user.data.username}]}</p>  
        <button class="button" ng-click="current_user.logout()">Logout</button>
      </div>
    </form>
    </div>
  </div>
</section>
<!-- Django Tables -->
<section class="container margin-top-2 margin-bottom-2">
  <div class="row column">
    <p class="larger-font primary-color">HandsonTable View</p>
  </div>
  <div class="row small-up-2">
    <div class="column margin-bottom-2">
      <p class="large-font underline">ReadOnlyView of Snippets</p>
      <div ng-controller="guide.djangoRestController.Snippets.ViewOnly" class="margin-top-1">
         <hot-table
             hot-id="guide_djangorest_viewonly"
             settings="parent_scope.guide_djangorest_viewonly.settings"
             datarows="parent_scope.guide_djangorest_viewonly.data"
             height='250'
             col-headers class="hot-table">
         </hot-table>
      </div>
    </div>
    <div class="column margin-bottom-2">
      <p class="large-font underline">ReadOnlyView of Users</p>
      <div ng-controller="guide.djangoRestController.Users.ViewOnly" class="margin-top-1">
         <hot-table
             hot-id="guide_djangorest_users_viewonly"
             settings="parent_scope.guide_djangorest_users_viewonly.settings"
             datarows="parent_scope.guide_djangorest_users_viewonly.data"
             height='250'
             col-headers class="hot-table">
         </hot-table>
      </div>
    </div>
    <div class="column margin-bottom-1">
      <p class="large-font underline">FullAccessView of Snippets</p>
      <div ng-controller="guide.djangoRestController.Snippets.FullAccess" class="margin-top-1">
         <hot-table
             hot-id="guide_djangorest_snippets_fullaccess"
             settings="parent_scope.guide_djangorest_snippets_fullaccess.settings"
             datarows="parent_scope.guide_djangorest_snippets_fullaccess.data"
             height='550'
             col-headers class="hot-table">
         </hot-table>
         <div>
           <p>Progress: <span ng-bind="parent_scope.guide_djangorest_snippets_fullaccess.progress"></span></p>
            <p>Total Changes: <span ng-bind="parent_scope.guide_djangorest_snippets_fullaccess.total_changes"></span></p>
            <div class="callout success" ng-if="parent_scope.guide_djangorest_snippets_fullaccess.total_changes==parent_scope.guide_djangorest_snippets_fullaccess.progress && parent_scope.guide_djangorest_snippets_fullaccess.total_changes>0">
              <p class="bold larger">Success. Window will reload in 5 seconds.</p>
            </div>
            <button class="button" ng-click="parent_scope.guide_djangorest_snippets_fullaccess.save(parent_scope.guide_djangorest_snippets_fullaccess.table_changes, parent_scope.guide_djangorest_snippets_fullaccess.table_deletes, parent_scope.guide_djangorest_snippets_fullaccess.data)">Save Changes</button>
            <div class="error-msg">
              <div ng-show="parent_scope.guide_djangorest_snippets_fullaccess.error.length==0">
                <p class="bold">Here the error log will appear (if it occurs)</p>
              </div>
              <div ng-show="parent_scope.guide_djangorest_snippets_fullaccess.error.length>0">
                <p class="bold">Error Reported. Changes are preserved. Please debug & save again. Refreshing the page will remove changes.</p>
                <p ng-repeat="error in parent_scope.guide_djangorest_snippets_fullaccess.error">Details: {[{error.data}]} & Url: {[{error.config.url}]}</p>
              </div>
            </div>
         </div>
      </div>
    </div>
    <div class="column margin-bottom-1">
      <p class="large-font underline">FullAccessView of users</p>
      <div ng-controller="guide.djangoRestController.users.FullAccess" class="margin-top-1">
         <hot-table
             hot-id="guide_djangorest_users_fullaccess"
             settings="parent_scope.guide_djangorest_users_fullaccess.settings"
             datarows="parent_scope.guide_djangorest_users_fullaccess.data"
             height='550'
             col-headers class="hot-table">
         </hot-table>
         <div>
           <p>Progress: <span ng-bind="parent_scope.guide_djangorest_users_fullaccess.progress"></span></p>
            <p>Total Changes: <span ng-bind="parent_scope.guide_djangorest_users_fullaccess.total_changes"></span></p>
            <div class="callout success" ng-if="parent_scope.guide_djangorest_users_fullaccess.total_changes==parent_scope.guide_djangorest_users_fullaccess.progress && parent_scope.guide_djangorest_users_fullaccess.total_changes>0">
              <p class="bold larger">Success. Window will reload in 5 seconds.</p>
            </div>
            <button class="button" ng-click="parent_scope.guide_djangorest_users_fullaccess.save(parent_scope.guide_djangorest_users_fullaccess.table_changes, parent_scope.guide_djangorest_users_fullaccess.table_deletes, parent_scope.guide_djangorest_users_fullaccess.data)">Save Changes</button>
            <div class="error-msg">
              <div ng-show="parent_scope.guide_djangorest_users_fullaccess.error.length==0">
                <p class="bold">Here the error log will appear (if it occurs)</p>
              </div>
              <div ng-show="parent_scope.guide_djangorest_users_fullaccess.error.length>0">
                <p class="bold">Error Reported. Changes are preserved. Please debug & save again. Refreshing the page will remove changes.</p>
                <p ng-repeat="error in parent_scope.guide_djangorest_users_fullaccess.error">Details: {[{error.data}]} & Url: {[{error.config.url}]}</p>
              </div>
            </div>
         </div>
      </div>
    </div>
    <div class="column margin-bottom-1">
      <p class="large-font underline">ReadOnly of Snippets Using Directive</p>
      <div handsontable-django-readonly api-service="SnippetService" hot-id="guide_djangorest_snippets_readonly" height='550'></div>
    </div>
    <div class="column margin-bottom-1">
      <p class="large-font underline">FullAccessView of Snippets Using Directive</p>
      <div handsontable-django-fullaccess api-service="SnippetService" hot-id="guide_djangorest_snippets_fullaccess" height='550'></div>
    </div>
    <div class="column margin-bottom-1">
      <p class="large-font underline">FullAccessView of Snippet Group</p>
      <div ng-controller="guide.djangoRestController.snippetsgroup.FullAccess" class="margin-top-1">
         <hot-table
             hot-id="guide_djangorest_snippetsgroup_fullaccess"
             settings="parent_scope.guide_djangorest_snippetsgroup_fullaccess.settings"
             datarows="parent_scope.guide_djangorest_snippetsgroup_fullaccess.data"
             height='150'
             col-headers class="hot-table">
         </hot-table>
         <div>
           <p>Progress: <span ng-bind="parent_scope.guide_djangorest_snippetsgroup_fullaccess.progress"></span></p>
            <p>Total Changes: <span ng-bind="parent_scope.guide_djangorest_snippetsgroup_fullaccess.total_changes"></span></p>
            <div class="callout success" ng-if="parent_scope.guide_djangorest_snippetsgroup_fullaccess.total_changes==parent_scope.guide_djangorest_snippetsgroup_fullaccess.progress && parent_scope.guide_djangorest_snippetsgroup_fullaccess.total_changes>0">
              <p class="bold larger">Success. Window will reload in 5 seconds.</p>
            </div>
            <button class="button" ng-click="parent_scope.guide_djangorest_snippetsgroup_fullaccess.save(parent_scope.guide_djangorest_snippetsgroup_fullaccess.table_changes, parent_scope.guide_djangorest_snippetsgroup_fullaccess.table_deletes, parent_scope.guide_djangorest_snippetsgroup_fullaccess.data)">Save Changes</button>
            <div class="error-msg">
              <div ng-show="parent_scope.guide_djangorest_snippetsgroup_fullaccess.error.length==0">
                <p class="bold">Here the error log will appear (if it occurs)</p>
              </div>
              <div ng-show="parent_scope.guide_djangorest_snippetsgroup_fullaccess.error.length>0">
                <p class="bold">Error Reported. Changes are preserved. Please debug & save again. Refreshing the page will remove changes.</p>
                <p ng-repeat="error in parent_scope.guide_djangorest_snippetsgroup_fullaccess.error">Details: {[{error.data}]} & Url: {[{error.config.url}]}</p>
              </div>
            </div>
         </div>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="row column">
    <h5>Rough Area</h5>
    <div>
      <input type="file" file-model="myFile"/>
      <h5 ng-bind="myFile"></h5>
      <button class="button" ng-click="centralUploadFile(myFile,'SnippetService','3')">upload me</button>
    </div>
  </div>
</section>