---
title: Handsontable
meta_description: This is a standard template for foundation, angularJS and expressJS. Built ready for deployment.
meta_keywords: foundation, angularJS, expressJS
---
<section class="container">
  <div class="row column">
    <h5>Handsontable <small>Django</small></h5>
    <p class="larger-font underline">Pre-Requisites</p>
    <p>This requries Django & ExpressJS to run on the same host</p>
    <ul>
      <li>Proxy ExpressJS at <code>:3011</code> using Nginx</li>
      <li>Proxy Django <code>:8000/api</code> to <code>:3011/api</code> using Nginx</li>
      <li>Check <code>:3011/api/v1/users/</code> is working or not</li>
    </ul>
    <accordion close-others="true">
      <accordion-group>
        <accordion-heading>
            For local-development
        </accordion-heading>
            <div>
              Use best practice django from this <a href="https://bitbucket.org/filomate/best-practice-django/src">link</a>. Create the required virtualenv & run it. It will use the <code>user</code> model here. 
              <ul>
                <li>Ensure you are running the page on <code>3011</code> port</li>
                <li>Ensure that <code>django</code> is running</li>
              </ul>
            </div>
      </accordion-group>
      <accordion-group>
        <accordion-heading>
            For production instance
        </accordion-heading>
            For production instance check whether this <a href="/api/v1/users/">link</a> is working or not.
      </accordion-group>
    </accordion>
  </div>
  <div class="row medium-up-2" ng-controller="guide.ParentHandsonContoller">
    <!-- Parent Controller -->
    <div class="column">
      <p class="large-font underline">Parent Controller</p>
      <p class="alert-color margin-bottom-1">All Child Controllers should extend parent scope by using this format <code>$scope.parent_scope.table_id.</code></p>
      <div class="scroll-setting">
        <p>{[{parent_scope.guide_handsontable_viewonly.settings | json}]}</p>
      </div>
    </div>
    <!-- Basic Example -->
    <div class="column">
      <p class="large-font underline">Basic Example</p>
      <p>In this example, we have used a controller to pass in the data. Except this there is no use of a controller here.</p>
      <div ng-controller="guide.HandsontableDemoController">
        <hot-table settings="{colHeaders: colHeaders, contextMenu: ['row_above', 'row_below', 'remove_row'], afterChange: afterChange}"
                   row-headers="false"
                   min-spare-rows="minSpareRows"
                   datarows="db.items"
                   height="200">
            <hot-column data="id" title="'ID'"></hot-column>
            <hot-column data="name.first" title="'First Name'" type="grayedOut" read-only></hot-column>
            <hot-column data="name.last" title="'Last Name'" type="grayedOut" read-only></hot-column>
            <hot-column data="address" title="'Address'" width="150"></hot-column>
            <hot-column data="product.description" title="'Favorite food'" type="'autocomplete'">
                <hot-autocomplete datarows="description in product.options"></hot-autocomplete>
            </hot-column>
            <hot-column data="price" title="'Price'" type="'numeric'" width="80" format="'$ 0,0.00'"></hot-column>
            <hot-column data="isActive" title="'Is active'" type="'checkbox'" width="65" checked-template="'Yes'" unchecked-template="'No'"></hot-column>
        </hot-table>
      </div>
    </div>
    <!-- Django Connected View only Example -->
    <div class="column">
      <p class="large-font underline">Django View-Only Table</p>
      <p class="alert-color">Requires API to be running</p>
      <p>Steps to customize it for the need</p>
      <ul>
        <li>Ensure HandsonApiAdapter is connected</li>
        <li>Create a service like <code>UserService</code> which has <code>GET</code> method implemented</li>
        <li class="bold">Steps:</li>
        <ol>
          <li>Create a new controller</li>
          <li>Replace <code>exitingtableid</code> with your <code>tableid</code> both in HTML & controller</li>
          <li>Replace <code>UserService</code> with this <code>ModelService</code></li>
        </ol>
        
        <li>You can add or remove columns by doing <code>$scope....settings.colHeaders.push()</code> & <code>$scope....settings.colInfoArray.push()</code> from either the Child or ParentController</li>
      </ul>
      <div ng-controller="guide.DjangoHandsonController.ViewOnly" class="margin-top-1">
         <hot-table
             hot-id="guide_handsontable_viewonly"
             settings="parent_scope.guide_handsontable_viewonly.settings"
             datarows="parent_scope.guide_handsontable_viewonly.data"
             height='300'
             col-headers class="hot-table">
         </hot-table>
      </div>
    </div>
    <!-- Django Connected Full Example -->
    <div class="column">
      <p class="large-font underline">Django Edit Table</p>
      <p>Steps to customize it for the need</p>
      <ol>
        <li>Create a new controller</li>
        <li>Replace <code>exitingtableid</code> with <code>yourtableid</code> both in HTML & controller</li>
        <li>Replace <code>UserService</code> with this <code>ModelService</code></li>
      </ol>
      <p class="bold alert-color">FIRST COLUMN MUST BE ID FOR IT TO WORK</p>
      <p class="bold alert-color">ALL PERMISSIONS MUST BE REMOVED</p>
      <div ng-controller="guide.DjangoHandsonController.FullAccess" class="margin-top-1">
         <hot-table
             hot-id="guide_handsontable_fullaccess"
             settings="parent_scope.guide_handsontable_fullaccess.settings"
             datarows="parent_scope.guide_handsontable_fullaccess.data"
             height='150'
             col-headers class="hot-table">
         </hot-table>
      </div>
      <p>Progress: <span ng-bind="parent_scope.guide_handsontable_fullaccess.progress"></span></p>
      <p>Total Changes: <span ng-bind="parent_scope.guide_handsontable_fullaccess.total_changes"></span></p>
      <div class="callout success" ng-if="parent_scope.guide_handsontable_fullaccess.total_changes==parent_scope.guide_handsontable_fullaccess.progress && parent_scope.guide_handsontable_fullaccess.total_changes>0">
        <p class="bold larger">Success. Window will reload in 5 seconds.</p>
      </div>
      <button class="button4" ng-click="parent_scope.guide_handsontable_fullaccess.save(parent_scope.guide_handsontable_fullaccess.table_changes, parent_scope.guide_handsontable_fullaccess.table_deletes, parent_scope.guide_handsontable_fullaccess.data)">Save Changes</button>
      <div class="error-msg">
        <div ng-show="parent_scope.guide_handsontable_fullaccess.error.length==0">
          <p class="bold">Here the error log will appear (if it occurs)</p>
        </div>
        <div ng-show="parent_scope.guide_handsontable_fullaccess.error.length>0">
          <p class="bold">Error Reported. Changes are preserved. Please debug & save again. Refreshing the page will remove changes.</p>
          <p ng-repeat="error in parent_scope.guide_handsontable_fullaccess.error">Details: {[{error.data}]} & Url: {[{error.config.url}]}</p>
        </div>
      </div>
    </div>
  </div>
</section>