<div ng-cloak>
    <md-content>
        <div layout="column" layout-align="start center">
            <p class="md-title"> PO #{[{order.po_number}]} Rev {[{order.revision_number}]} Dated {[{order.po_date}]} </p>
        </div>
        <md-button ng-click="ListPage()" class="md-icon-button so-back-arrow">
            <md-icon class="material-icons managecustomericon" title="Back to list">keyboard_backspace</md-icon>
        </md-button>
        <md-tabs md-dynamic-height md-border-bottom class="md-margin" md-selected="tabIndex" md-center-tabs="true" flex>
            <md-tab label="PO-Details">
                <div ng-include="'/assets/js/modules/po/view-PO/view-po.html'"></div>
            </md-tab>
            <md-tab label="PO-Items">
                <div >
                    <p class="md-title md-margin md-padding">Item Details</p>
                    <md-content>
                        <div id="PR-grid" ui-grid="uiGridOptions" class="grid md-margin md-padding" flex flex-xs="100"></div>
                    </md-content>
                </div>
            </md-tab>
            <md-tab label="Annexure Details">
                <div>
                    <p class="md-title md-margin md-padding">Annexure Details</p>
                    <md-content>
                        <div ng-include="'assets/js/modules/po/view-annexure/view-annexure.html'"></div>
                    </md-content>
                </div>
            </md-tab>
            <md-tab label="GRN">
                <md-card-content ng-if="!showTable">
                    <div layout="row" class="margin-t-1">
                            <div flex="60"></div>
                            <div flex>
                                <md-button class="md-primary md-raised cr-md-primary" ng-if="GRNList.length" ng-click="createIMIN($event,selectedGRN)">
                                    Create IMIN
                                </md-button>
                                <md-button class="md-primary md-raised cr-md-primary" ng-if="GRNList.length" ng-click="createReverseGRN($event,selectedGRN)">
                                    Reverse GRN
                                </md-button>
                                <md-button class="md-icon-button" ng-click="createGRN($event)">
                                    <md-icon class="material-icons managecustomericon" title="Create GRN">add</md-icon>
                                </md-button>
                            </div>
                    </div>
                    <div layout="column" layout-align="start center" class="md-margin md-padding">
                            <p ng-if="!GRNList.length" class="md-title">
                                No Goods Received Notes to display.
                            </p>
                            <div layout="column" class="so-view-card" flex ng-repeat="order in GRNList track by $index">
                                <div layout="row">
                                    <md-checkbox ng-model="selected" ng-change="selectedValue(order,$index,selected)"></md-checkbox>
                                    <div layout="column" flex>
                                        <md-card md-theme-watch ng-click="ViewItems(order)">
                                            <md-card-content>
                                                <div layout="column">
                                                    <div layout="row" flex layout-margin layout-xs="column">
                                                        <div flex="20" flex-xs="100">
                                                            <label class="md-caption">GRN#</label>
                                                            <p class="md-body-1">{[{order.internal_reference_number}]}</p>
                                                        </div>
                                                        <div flex="20" flex-xs="100">
                                                            <label class="md-caption">Created Date</label>
                                                            <p class="md-body-1">{[{order.created | date:'dd/MM/yyyy'}]}</p>
                                                        </div>
                                                        <div flex="20" flex-xs="100">
                                                            <label class="md-caption">Date of last edit</label>
                                                            <p class="md-body-1" ng-bind="order.updated_date"></p>
                                                        </div>
                                                        <div flex flex-xs="100">
                                                            <label class="md-caption">Items Received</label>
                                                            <p></p>
                                                            <span class="md-body-1" ng-repeat="record in order.po.po_items | limitTo: 50">
                                                                {[{(record.item_number.split("-").pop()).split("_").pop()}]}{[{$last ?
                                                                '' :', '}]}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </md-card-content>
                                        </md-card>
                                    </div>
                                </div>
                            </div>
                            <pagination page="currentPage" total-items="count" max-size="maxSize" ng-if="GRNList.length" ng-click="setPage(currentPage)"
                                boundary-links="true">
                            </pagination>
                    </div>
                </md-card-content>
                <div ng-if="showTable">
                    <md-card-content ng-if="reverseGrnData"> 
                        <div layout="row">
                            <md-button class="md-icon-button" ng-click="backToList()">
                                <md-icon class="material-icons managecustomericon" title="Back to list">keyboard_backspace</md-icon>
                            </md-button>
                            <div layout="column" layout-align="start end" flex>
                                <div layout="row">
                                    <md-button type="submit" class="md-primary md-raised cr-md-primary" ng-click="updateDetails(grnGridOptions.data,$event,'grn','reverse')">
                                        Update Details
                                    </md-button>
                                    <md-button type="submit" class="md-warn md-raised cr-md-primary" ng-click="deleteData()">
                                        Remove
                                    </md-button>
                                </div>
                            </div>
                            <div flex="15"></div>
                        </div>
                        <div layout="column" class="md-margin md-padding margin-l-18">
                            <div layout-margin>
                                <label class="md-caption">selected GRN#</label>
                                <div layout="column" ng-repeat="data in selectedGRNList track by $index">
                                    <div flex>
                                        <p class="md-body-1">
                                                {[{data.internal_reference_number}]}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div flex layout-margin layout-padding class="margin-l-2">
                                <div layout="row">
                                    <md-checkbox ng-model="checked" ng-if="edit" ng-click="selectAll(checked)">Select All</md-checkbox>
                                </div>
                                <div id="grn-items-grid" ui-grid="grnGridOptions" class="grid" ui-grid-edit flex flex-xs="100"></div>
                            </div>
                        </div>
                        <div layout="row" layout-align="end end" ng-if="edit" class="m-r-9">
                            <md-button type="submit" class="md-primary md-raised cr-md-primary" ng-click="cancelItems()">
                                cancel
                            </md-button>
                            <md-button class="md-primary md-raised cr-md-primary" ng-disabled="disableSave" ng-click="saveGRNItems()">
                                save
                            </md-button>
                        </div>
                    </md-card-content>
                    <md-card-content ng-if="viewGrn">
                        <div class="md-margin md-padding">
                            <div layout="row">
                                <md-button class="md-icon-button" ng-click="backToList()">
                                    <md-icon class="material-icons managecustomericon" title="Back to list">keyboard_backspace</md-icon>
                                </md-button>
                                <div layout="column" layout-align="start end" flex>
                                    <md-button type="submit" ng-if="edit" class="md-primary md-raised cr-md-primary" ng-click="updateDetails(grnGridOptions.data,$event,'grn','edit')">
                                        Update Details
                                    </md-button>
                                    <md-button class="md-primary md-raised cr-md-primary" ng-if="!edit" ng-click="EditItems()">
                                        Edit
                                    </md-button>
                                </div>
                                <div flex="20"></div>
                            </div>
                            <div layout="column" class="md-margin md-padding margin-l-18">
                                <div layout="row" flex layout-margin layout-xs="column">
                                    <div flex>
                                        <label class="md-caption">GRN#</label>
                                        <p class="md-body-1">
                                            <p class="md-body-1" ng-bind="grnData.internal_reference_number"></p>
                                        </p>
                                    </div>
                                    <div flex></div>
                                    <div flex>
                                        <label class="md-caption">Document Reference</label>
                                        <p class="md-body-1" ng-bind="grnData.document_reference"></p>
                                    </div>
                                    <div flex></div>
                                </div>
                                <div layout="row" flex layout-margin layout-xs="column">
                                    <div flex>
                                        <label class="md-caption">Date of Entry</label>
                                        <p class="md-body-1" ng-bind="grnData.receipt_date"></p>
                                    </div>
                                    <div flex></div>
                                    <div flex>
                                        <label class="md-caption">Document Date</label>
                                        <p class="md-body-1" ng-bind="grnData.document_date"></p>
                                    </div>
                                    <div flex></div>
                                </div>
                                <div layout="row" flex layout-margin layout-xs="column">
                                    <div flex>
                                        <label class="md-caption">Date of last edit</label>
                                        <p class="md-body-1" ng-bind="grnData.updated_date"></p>
                                    </div>
                                    <div flex></div>
                                    <div flex></div>
                                    <div flex></div>
                                </div>
                                <div layout="row" flex layout-margin layout-xs="column">
                                    <div flex>
                                        <label class="md-caption">Document Description</label>
                                        <p class="md-body-1">{[{grnData.description}]}</p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div flex layout-margin layout-padding class="margin-l-2">
                                    <div layout="row" layout-xs="column">
                                        <md-checkbox ng-model="checked" ng-if="edit" ng-click="selectAll(checked)">Select All</md-checkbox>
                                    </div>
                                    <div id="grn-items-grid" ui-grid="grnGridOptions" class="grid" ui-grid-edit flex flex-xs="100"></div>
                                </div>
                            </div>
                            <div layout="row" layout-align="end end" ng-if="edit" class="m-r-9">
                                <md-button type="submit" class="md-primary md-raised cr-md-primary" ng-click="cancelItems()">
                                    cancel
                                </md-button>
                                <md-button class="md-primary md-raised cr-md-primary" ng-click="UpdateGRNItems()">
                                    save
                                </md-button>
                            </div>
                        </div>
                    </md-card-content>
                </div>
            </md-tab>
            <md-tab label="IMIN">
                <div layout="column" layout-align="start center" class="md-margin md-padding" ng-if="showIMIN">
                    <p ng-if="!GRNList.length" class="md-title">
                            No Inward Material Inspection Notes to display.
                    </p>
                    <div layout="column" class="so-view-card" flex ng-repeat="order in GRNList track by $index">
                        <div layout="row" ng-if="order.verifed_records">
                            <md-checkbox ng-model="selected" ng-change="selectedValue(order,$index,selected)"></md-checkbox>
                            <div layout="column" flex>
                                <md-card md-theme-watch ng-click="ViewIMINItems(order)">
                                    <md-card-content>
                                        <div layout="column">
                                            <div layout="row" flex layout-margin layout-xs="column">
                                                <div flex="20" flex-xs="100">
                                                    <label class="md-caption">IMIN#</label>
                                                    <p class="md-body-1">{[{order.internal_reference_number}]}</p>
                                                </div>
                                                <div flex="20" flex-xs="100">
                                                    <label class="md-caption">Created Date</label>
                                                    <p class="md-body-1">{[{order.created | date:'dd/MM/yyyy'}]}</p>
                                                </div>
                                                <div flex="20" flex-xs="100">
                                                    <label class="md-caption">Date of last edit</label>
                                                    <p class="md-body-1" ng-bind="order.updated_date"></p>
                                                </div>
                                                <div flex flex-xs="100">
                                                    <label class="md-caption">Items Verified</label>
                                                    <p class="md-body-1" ng-bind="order.verifed_records"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </md-card-content>
                                </md-card>
                            </div>
                        </div>
                    </div>
                    <pagination page="currentPage" total-items="count" max-size="maxSize" ng-if="GRNList.length" ng-click="setPage(currentPage)"
                        boundary-links="true">
                    </pagination>
                </div>
                <div ng-if="showIMINRecords">
                        <md-card-content ng-if="showIMINRecords"> 
                            <div layout="row">
                                <md-button class="md-icon-button" ng-click="cancelIMIN()">
                                    <md-icon class="material-icons managecustomericon" title="Back to list">keyboard_backspace</md-icon>
                                </md-button>
                                <div layout="column" layout-align="start end" flex>
                                    <div layout="row">
                                        <md-button class="md-primary md-raised cr-md-primary" ng-if="!showIMINItems && showIMINRecords" ng-click="editIMIN(imin)">
                                            Edit
                                        </md-button>
                                        <md-button type="submit" class="md-primary md-raised cr-md-primary" ng-if="showIMINItems" ng-click="updateDetails(iminItemsGridOptions.data,$event,'imin')">
                                            Update Details
                                        </md-button>
                                    </div>
                                </div>
                                <div flex="15"></div>
                            </div>
                            <div layout="column" class="md-margin md-padding margin-l-18">
                                    <div layout="row" flex layout-margin layout-xs="column">
                                        <div flex>
                                            <label class="md-caption">IMIN#</label>
                                            <p class="md-body-1">
                                                <p class="md-body-1" ng-bind="imin.internal_reference_number"></p>
                                            </p>
                                        </div>
                                        <div flex></div>
                                        <div flex>
                                            <label class="md-caption">Document Name</label>
                                            <p class="md-body-1" ng-bind="imin.inspection_document_name"></p>
                                        </div>
                                        <div flex></div>
                                    </div>
                                    <div layout="row" flex layout-margin layout-xs="column">
                                        <div flex>
                                            <label class="md-caption">Inspected By</label>
                                            <p class="md-body-1" ng-bind="imin.inspected_by"></p>
                                        </div>
                                        <div flex></div>
                                        <div flex>
                                            <label class="md-caption">Document Date</label>
                                            <p class="md-body-1" ng-bind="imin.inspection_document_date"></p>
                                        </div>
                                        <div flex></div>
                                    </div>
                                    <div layout="row" flex layout-margin layout-xs="column">
                                        <div flex>
                                            <label class="md-caption">Remarks</label>
                                            <p class="md-body-1">{[{imin.inspection_remarks}]}</p>
                                        </div>
                                    </div>
                                </div>
                            <div>
                                <div flex layout-margin layout-padding class="margin-l-2">
                                    <div layout="row" layout-xs="column">
                                        <md-checkbox ng-model="checked" ng-if="showIMINItems" ng-click="IMINSelectAll(checked)">Select All</md-checkbox>
                                    </div>
                                    <div id="grn-items-grid" ui-grid="iminItemsGridOptions" class="grid" ui-grid-edit flex flex-xs="100"></div>
                                </div>
                            </div>
                            <div layout="row" layout-align="end end" ng-if="showIMINItems" class="m-r-9">
                                <md-button type="submit" class="md-primary md-raised cr-md-primary" ng-click="cancelIMIN(true)">
                                    cancel
                                </md-button>
                                <md-button class="md-primary md-raised cr-md-primary" ng-disabled="disableSave" ng-click="updateIMINItems()">
                                    save
                                </md-button>
                            </div>
                        </md-card-content>
                    </div>
            </md-tab>
            <md-tab label="Stock Info">
                  <div class="md-margin md-padding">
                        <p ng-if="!stockInfoGridOptions.data.length" class="md-title">
                                No Goods to Display
                        </p>
                        <div ng-if="stockInfoGridOptions.data.length" layout-margin id="grn-items-grid" ui-grid="stockInfoGridOptions" class="grid stock-grid" ui-grid-edit flex flex-xs="100"></div>
                  </div>
            </md-tab>
            <md-tab label="Payment Request">
                <md-card-content ng-if="!showPRList">
                    <div layout="row" class="margin-t-1" layout-xs="column">
                        <div flex="75"></div>
                        <div flex>
                            <!-- <md-button class="md-primary md-raised cr-md-primary" ng-if="GRNList.length" ng-click="createIMIN($event,selectedGRN)">
                                Create IMIN
                            </md-button> -->
                            <md-button class="md-icon-button" ng-click="createPaymentRequest($event)">
                                <md-icon class="material-icons managecustomericon" title="Create Payment Request">add</md-icon>
                            </md-button>
                        </div>
                    </div>
                    <div layout="column" layout-align="start center" class="md-margin md-padding">
                            <p ng-if="!paymentList.length" class="md-title">
                                No Payment Requests to Display
                            </p>
                            <div layout="column" class="so-view-card" flex ng-repeat="order in paymentList track by $index" track by $index>
                                <div layout="row">
                                    <!-- <md-checkbox ng-model="selected" ng-change="selectedValue(order,$index,selected)"></md-checkbox> -->
                                    <div layout="column" flex>
                                        <md-card md-theme-watch ng-click="viewPaymentRequest(order)">
                                            <md-card-content>
                                                <div layout="column">
                                                    <div layout="row" flex layout-margin layout-xs="column">
                                                        <div flex="20" flex-xs="100">
                                                            <label class="md-caption">Payment Request#</label>
                                                            <p class="md-body-1">{[{order.internal_reference_number}]}</p>
                                                        </div>
                                                        <div flex="20" flex-xs="100">
                                                            <label class="md-caption">Document Reference</label>
                                                            <p class="md-body-1" ng-bind="order.document_reference"></p>
                                                        </div>
                                                        <div flex="20" flex-xs="100">
                                                            <label class="md-caption">Document Date</label>
                                                            <p class="md-body-1">{[{order.document_date | date:'dd/MM/yyyy'}]}</p>
                                                        </div>
                                                        <div flex flex-xs="100">
                                                            <label class="md-caption">Milestone Number</label>
                                                            <p class="md-body-1">{[{order.milestone_number.installment_number+","+order.milestone_number.type}]}</p>
                                                        </div>
                                                        <div flex flex-xs="100">
                                                                <label class="md-caption">Invoice Price</label>
                                                                <p class="md-body-1">{[{order.total_price}]}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </md-card-content>
                                        </md-card>
                                    </div>
                                </div>
                            </div>
                            <pagination page="currentPage" total-items="count" max-size="maxSize" ng-if="paymentList.length" ng-click="setPage(currentPage)"
                                boundary-links="true">
                            </pagination>
                    </div>
                </md-card-content>
                <md-card-content ng-if="showPRList">
                    <div class="md-margin md-padding">
                        <div layout="row">
                            <md-button class="md-icon-button" ng-click="backToPR()">
                                <md-icon class="material-icons managecustomericon" title="Back to list">keyboard_backspace</md-icon>
                            </md-button>
                            <div layout="column" layout-align="start end" flex>
                                <md-button type="submit" ng-if="editPRItem" class="md-primary md-raised cr-md-primary" ng-click="updateDetails(prGridOptions.data,$event,'payment-request','edit')">
                                    Update Details
                                </md-button>
                                <md-button class="md-primary md-raised cr-md-primary" ng-if="!editPRItem" ng-click="editPR()">
                                    Edit
                                </md-button>
                            </div>
                            <div flex="20"></div>
                        </div>
                        <div layout="column" class="md-margin md-padding margin-l-18">
                            <div layout="row" flex layout-margin layout-xs="column">
                                <div flex>
                                    <label class="md-caption">Payment Request#</label>
                                    <p class="md-body-1">
                                        <p class="md-body-1" ng-bind="paymentData.internal_reference_number"></p>
                                    </p>
                                </div>
                                <div flex></div>
                                <div flex>
                                    <label class="md-caption">Document Reference</label>
                                    <p class="md-body-1" ng-bind="paymentData.document_reference"></p>
                                </div>
                                <div flex></div>
                            </div>
                            <div layout="row" flex layout-margin  layout-xs="column">
                                <div flex>
                                    <label class="md-caption">Document Date</label>
                                    <p class="md-body-1" ng-bind="paymentData.document_date"></p>
                                </div>
                                <div flex></div>
                                <div flex>
                                    <label class="md-caption">Milestone Number</label>
                                    <p class="md-body-1">{[{paymentData.milestone_number.installment_number+","+paymentData.milestone_number.type+"="+paymentData.milestone_number.percentage+"%"}]}</p>
                                </div>
                                <div flex></div>
                            </div>
                            <div layout="row" flex layout-margin  layout-xs="column">
                                <div flex>
                                    <label class="md-caption">Milestone Date</label>
                                    <p class="md-body-1" ng-bind="paymentData.milestone_date"></p>
                                </div>
                                <div flex></div>
                                <div flex>
                                    <label class="md-caption">Receipt Date</label>
                                    <p class="md-body-1">{[{paymentData.receipt_date}]}</p>
                                </div>
                                <div flex></div>
                            </div>
                            <div layout="row" flex layout-margin  layout-xs="column">
                                    <div flex>
                                        <label class="md-caption">Created By</label>
                                        <p class="md-body-1">{[{paymentData.owner.first_name+" "+paymentData.owner.last_name}]}</p>
                                    </div>
                                    <div flex></div>
                                    <div flex>
                                     
                                    </div>
                                    <div flex></div>
                            </div>
                            <div layout="row" flex layout-margin  layout-xs="column">
                                <div flex>
                                    <label class="md-caption">Description</label>
                                    <p class="md-body-1">{[{paymentData.description}]}</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div flex layout-margin layout-padding class="margin-l-2">
                                <div layout="row" layout-xs="column">
                                    <md-checkbox ng-model="checked" ng-if="editPRItem" ng-click="selectPR(checked)">Select All</md-checkbox>
                                </div>
                                <div id="pr-items-grid" ui-grid="prGridOptions" class="grid" ui-grid-edit flex flex-xs="100"></div>
                                <div>
                                    <div flex>
                                           <p>Total: {[{order.currency}]} {[{pr_total_amount_with_tax | words}]} </p>
                                    </div>
                               </div>
                            </div>
                        </div>
                        <div layout="row" layout-align="end end" ng-if="editPRItem" class="m-r-9">
                            <md-button type="submit" class="md-primary md-raised cr-md-primary" ng-click="backToPR()">
                                cancel
                            </md-button>
                            <md-button class="md-primary md-raised cr-md-primary" ng-click="UpdatePRItems()">
                                save
                            </md-button>
                        </div>
                    </div>
                </md-card-content>
            </md-tab>
            <md-tab label="Payment Details">
                    <md-content>
                        <div layout="row" layout-margin  layout-xs="column">
                            <div flex="20"></div>
                            <div flex>
                                <div class="m-l-n-2 m-b-5px">
                                    <p class="md-title"> Payment Details</p>
                                </div>
                                <p class="md-subhead">(a)Projected Payments(Cash Out-Flows)</p>
                            </div>
                            <div></div>
                        </div>
                        <div layout="column" layout-align="start center">
                            <div layout="column" class="so-view-card" flex track by $index>
                                <div layout="row" >
                                    <div layout="column" flex>
                                        <md-card md-theme-watch ng-click="viewPaymentDetails($event,paymentDetailsData)">
                                            <md-card-content>
                                                <div layout="row" layout-xs="column">
                                                    <div layout="column" flex layout-margin layout-gt-xs="row">
                                                        <div flex>
                                                            <label class="md-caption">Total Items</label>
                                                            <p class="md-body-1" ng-bind="paymentDetailsData.length"></p>
                                                        </div>
                                                        <div flex></div>
                                                        <div flex>
                                                            <label class="md-caption">Total Value</label>
                                                            <p class="md-body-1" ng-bind="paymentDetailsData.total_price"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </md-card-content>
                                        </md-card>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div layout="row" layout-margin  layout-xs="column">
                                <div flex="20"></div>
                                <div flex> <p class="md-subhead">(b)Payments Due (Cash Out-Flows)
                                    </p></div>
                                <div></div>
                        </div>
                        <div layout="column" layout-align="start center">
                            <div layout="column" class="so-view-card" flex track by $index>
                                <div layout="row">
                                    <div layout="column" flex>
                                        <md-card md-theme-watch ng-click="viewPaymentDetails($event,pendingPaymentList,'payment-request')">
                                            <md-card-content>
                                                <div layout="row" layout-xs="column">
                                                    <div layout="column" flex layout-margin layout-gt-xs="row">
                                                        <div flex>
                                                            <label class="md-caption">Total Items</label>
                                                            <p class="md-body-1" ng-bind="pendingPaymentList.length"></p>
                                                        </div>
                                                        <div flex></div>
                                                        <div flex>
                                                            <label class="md-caption">Total Value</label>
                                                            <p class="md-body-1" ng-bind="pendingPaymentList.total_price"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </md-card-content>
                                        </md-card>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div layout="row" layout-margin  layout-xs="column">
                            <div flex="20"></div>
                            <div flex><p class="md-subhead">(c)Payments Made</p></div>
                            <div></div>
                        </div>
                        <div layout="column" layout-align="start center">
                            <div layout="column" class="so-view-card" flex track by $index>
                                <div layout="row">
                                    <div layout="column" flex>
                                        <md-card md-theme-watch ng-click="viewPaymentDetails($event,paidPaymentData,'payment-request')">
                                            <md-card-content>
                                                <div layout="row" layout-xs="column">
                                                    <div layout="column" flex layout-margin layout-gt-xs="row">
                                                        <div flex>
                                                            <label class="md-caption">Total Items</label>
                                                            <p class="md-body-1" ng-bind="paidPaymentData.length"></p>
                                                        </div>
                                                        <div flex></div>
                                                        <div flex>
                                                            <label class="md-caption">Total Value</label>
                                                            <p class="md-body-1" ng-bind="paidPaymentData.total_price"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </md-card-content>
                                        </md-card>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>
