<div layout="row">
        <div layout="column" flex="80" flex-xs="100">
            <div layout="row" layout-xs="column">
                <div layout-margin flex="15" flex-xs="100">
                    <md-input-container class="md-block">
                        <label>Company Type</label>
                        <md-select ng-model="filter.role_type" multiple>
                                <md-option ng-repeat="role in activitiesTwoOptions" ng-value="role">
                                    {[{role.label}]}
                                </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout-margin flex="15" flex-xs="100">
                    <md-input-container class="md-block">
                        <label>Company Size</label>
                        <!-- <md-select ng-model="filter.company_type" multiple>
                                <md-option value="" disabled>Select company size</md-option>
                                <md-option value="Micro">Micro</md-option>
                                <md-option value="Small">Small</md-option>
                                <md-option value="Medium">Medium</md-option>
                                <md-option value="Large">Large</md-option>
                                <md-option value="Multinational">Multinational</md-option>
                                <md-option value="Conglomorate">Conglomorate</md-option>
                        </md-select> -->
                        <md-select ng-model="filter.company_type" multiple>
                                <md-option ng-repeat="type in companyTypes" ng-value="type.id">
                                    {[{type.company_type_name}]}
                                </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout-margin flex="15" flex-xs="100">
                    <md-input-container class="md-block">
                        <label>Establishment type</label>
                        <md-select ng-model="filter.establishment_type" multiple>
                                <md-option ng-repeat="type in establishmentTypes" ng-value="type.id">
                                    {[{type.establishment_type_name}]}
                                </md-option>
                        </md-select>
                        <!-- <md-select ng-model="filter.establishment_type" multiple>
                                <md-option value="" disabled>Select establishment type</md-option>
                                <md-option value="Public">Public</md-option>
                                <md-option value="Private">Private</md-option>
                                <md-option value="LLC">LLC</md-option>
                                <md-option value="FZE">FZE</md-option>
                                <md-option value="FZC">FZC</md-option>
                                <md-option value="Government">Government</md-option>
                        </md-select> -->
                    </md-input-container>
                </div>
                <div layout-margin flex="15" flex-xs="100">
                    <md-input-container class="md-block">
                        <label>Search by name</label>
                        <input required name="name" ng-model="filter.company_name">
                    </md-input-container>
                </div>
                <div layout-margin flex="15" flex-xs="100">
                    <div layout="row">
                            <md-radio-group ng-model="filter.hide_data">
                                    <md-radio-button class="adjust-hidden-radio" value="hide"> Hidden </md-radio-button> 
                                    <md-radio-button class="adjust-display-radio" value="display"> Displayed </md-radio-button>
                            </md-radio-group>
                    </div>
                </div>
            </div>
            <!-- <div layout="row" layout-xs="column">
                <div layout="column" flex layout-gt-xs="row" class="md-margin">
                        <div flex>
                                <md-input-container class="md-block">
                                        <label>Country</label>
                                        <md-select ng-model="filter.country" ng-change="selectStates(filter.country)"
                                                multiple>
                                                <md-option ng-repeat="country in totalCountries" ng-value="country">
                                                        {[{country}]}
                                                </md-option>
                                        </md-select>
                                </md-input-container>
                        </div>
                        <div flex>
                                <md-input-container class="md-block">
                                        <label>State</label>
                                        <md-select ng-model="filter.state" ng-change="selectCities(filter.state)"
                                                multiple>
                                                <md-option ng-repeat="state in totalStates" ng-value="state">
                                                        {[{state}]}
                                                </md-option>
                                        </md-select>
                                </md-input-container>
                        </div>
                        <div flex>
                                <md-input-container class="md-block">
                                        <label>Cities</label>
                                        <md-select ng-model="filter.cities" multiple>
                                                <md-option ng-repeat="city in totalCities" ng-value="city">
                                                        {[{city}]}
                                                </md-option>
                                        </md-select>
                                </md-input-container>
                        </div>
                        <div flex>

                        </div>
                </div>
        </div> -->
        </div>
        <div layout="column" flex="20" flex-xs="100">
                <div layout="row" layout-align="end end">
                        <span layout-xs="column">
                                <div layout-xs="row" layout-align-xs="end">
                                        <md-button class="md-icon-button" ng-click="CompanyFilters(filter)">
                                                <md-icon class="material-icons managecustomericon" title="Apply Filters">
                                                        filter_list
                                                </md-icon>
                                        </md-button>
                                        <md-button class="md-icon-button" ng-click="clear()">
                                                <md-icon class="material-icons managecustomericon color-red"
                                                        title="Clear Filters">close
                                                </md-icon>
                                        </md-button>
                                </div>
                        </span>
                </div>
        </div>
        <!-- <div layout="column" flex="20">
            <div layout="row" layout-align="end end">
                <md-button class="md-raised md-primary" ng-click="CompanyFilters(filter)">Apply Filters</md-button>
                <md-button class="md-raised md-primary" ng-click="clear()">Clear</md-button>
            </div>
        </div> -->
    </div>