<div layout="row">
    <div layout="column" flex="80">
        <div layout="row">
            <div class="adjust-mto-import" layout-margin ng-if="adminAccess">
                <md-autocomplete flex md-input-name="autocompleteField" md-input-minlength="2" md-input-maxlength="18" md-no-cache="noCache"
                    md-selected-item="filter.selectedItem" md-search-text="searchText" md-items="item in customerQuerySearch(searchText)"
                    md-item-text="item.name" md-require-match md-floating-label="Created By">
                    <md-item-template>
                        <span md-highlight-text="searchText">{[{item.name}]}</span>
                    </md-item-template>
            </div>
            <div layout-margin flex>
                <md-input-container>
                    <label class="md-caption">Date From</label>
                    <md-datepicker type="date" layout="row" name="Date" id="datefrom" ng-model="filter.date_from"></md-datepicker>
                </md-input-container>
            </div>
            <div layout-margin flex>
                <md-input-container>
                    <label class="md-caption">Date To</label>
                    <md-datepicker type="date" layout="row" name="Date" id="dateTo" ng-model="filter.date_to"></md-datepicker>
                </md-input-container>
            </div>
            <div layout-margin flex>
                <md-input-container>
                    <label>Search by name</label>
                    <input ng-model="filter.name" name="name" id="customerName">
                </md-input-container>
            </div>
        </div>
    </div>
    <div layout="column" flex="20">
        <div layout="row" layout-align="end end">
            <md-button class="md-raised md-primary" ng-click="CustomersFilters(filter)">Apply Filters</md-button>
            <md-button class="md-raised md-primary" ng-click="clear()">Clear</md-button>
        </div>
    </div>
</div>
