<!-- <div layout="row" class="md-padding md-margin">
    <div layout="column" flex="80">
        <div layout="row" layout-margin>
            <div flex>
                <md-input-container class="md-block">
                    <label>Client</label>
                    <md-select ng-model="filter.client">
                        <md-option ng-repeat="client in customerNames" ng-value="client">
                            {[{client.label}]}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div flex>
                <md-input-container class="md-block">
                    <label>contractor</label>
                    <md-select ng-model="filter.contractor">
                        <md-option ng-repeat="contractor in contractorNames" ng-value="contractor">
                            {[{contractor.label}]}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div flex>
                <md-input-container class="md-block">
                    <label>Project</label>
                    <md-select ng-model="filter.project" ng-change="subProjectFilter(filter.project)">
                        <md-option ng-repeat="project in projectNames" ng-value="project">
                            {[{project.label}]}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div flex>
                <md-input-container class="md-block">
                    <label>Sub-Project</label>
                    <md-select ng-model="filter.subProject">
                        <md-option ng-repeat="subproject in subProjectNames" ng-value="subproject">
                            {[{subproject.label}]}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>
        <div layout="row" layout-margin>
            <div flex>
                <md-input-container class="md-block">
                    <label class="md-caption">PO</label>
                    <input type="text" required ng-model="filter.po_number">
                </md-input-container>
            </div>
            <div flex>
                <md-input-container class="md-block">
                    <label class="md-caption">Date From</label>
                    <md-datepicker type="date" layout="row" name="Date" id="datefrom" ng-model="filter.date_from"></md-datepicker>
                </md-input-container>
            </div>
            <div flex>
                <md-input-container class="md-block">
                    <label class="md-caption">Date To</label>
                    <md-datepicker type="date" layout="row" name="Date" id="dateTo" ng-model="filter.date_to"></md-datepicker>
                </md-input-container>
            </div>
            <div flex>
                <md-input-container class="md-block" ng-if="!supplierAcess">
                    <label>Supplier</label>
                    <md-select ng-model="filter.supplier">
                        <md-option ng-repeat="supplier in productSuppliersInfo" ng-value="supplier">
                            {[{supplier.label}]}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block" ng-if="supplierAcess">
                    <label>Status</label>
                    <md-select ng-model="filter.status">
                        <md-option value="received">Received</md-option>
                        <md-option value="accepted">Accepted</md-option>
                        <md-option value="rejected">Rejected</md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>
    </div>
    <div layout="column" flex="20">
        <div layout="row" layout-align="end end" class="md-margin md-padding">
            <md-button class="md-raised md-primary" ng-click="ApplyFilters(offer)">Apply Filters</md-button>
            <md-button class="md-raised md-primary" ng-click="clear()">Clear</md-button>
        </div>
    </div>
</div> -->
<div layout="row" class="md-padding md-margin">
    <div layout="column" flex="80">
        <div layout="row">
            <div layout-margin flex>
                <md-input-container class="md-block">
                    <label class="md-caption">Client</label>
                    <md-select ng-model="filter.client">
                        <md-option ng-repeat="client in customerNames" ng-value="client">
                            {[{client.label}]}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout-margin flex>
                <md-input-container class="md-block">
                    <label class="md-caption">contractor</label>
                    <md-select ng-model="filter.contractor">
                        <md-option ng-repeat="contractor in contractorNames" ng-value="contractor">
                            {[{contractor.label}]}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout-margin flex>
                <md-input-container class="md-block">
                    <label class="md-caption">Project</label>
                    <md-select ng-model="filter.project" ng-change="subProjectFilter(filter.project)">
                        <md-option ng-repeat="project in projectNames" ng-value="project">
                            {[{project.label}]}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout-margin flex>
                <md-input-container class="md-block">
                    <label class="md-caption">PO</label>
                    <input type="text" required ng-model="filter.po_number">
                </md-input-container>
            </div>
        </div>
        <div layout="row" class="adjust-row">
            <div layout-margin flex>
                <md-input-container class="md-block">
                    <label class="md-caption">Date From</label>
                    <md-datepicker type="date" layout="row" name="Date" id="datefrom" ng-model="filter.date_from"></md-datepicker>
                </md-input-container>
            </div>
            <div layout-margin flex>
                <md-input-container class="md-block">
                    <label class="md-caption">Date To</label>
                    <md-datepicker type="date" layout="row" name="Date" id="dateTo" ng-model="filter.date_to"></md-datepicker>
                </md-input-container>
            </div>
            <div layout-margin flex>
                <md-input-container class="md-block" ng-if="!supplierAcess">
                    <label>Supplier</label>
                    <md-select ng-model="filter.supplier">
                        <md-option ng-repeat="supplier in productSuppliersInfo" ng-value="supplier">
                            {[{supplier.label}]}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block" ng-if="supplierAcess">
                    <label>Status</label>
                    <md-select ng-model="filter.status">
                        <md-option value="received">Received</md-option>
                        <md-option value="accepted">Accepted</md-option>
                        <md-option value="rejected">Rejected</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout-margin flex>

            </div>

        </div>
    </div>
    <div layout="column" flex="20">
        <div layout="row" layout-align="end end" class="md-margin md-padding">
            <md-button class="md-raised md-primary" ng-click="ApplyFilters(offer)">Apply Filters</md-button>
            <md-button class="md-raised md-primary" ng-click="clear()">Clear</md-button>
        </div>
    </div>
</div>

<div layout="row" flex layout-align="end end" ng-if="supplierAcess">
    <md-button class="md-raised md-primary" ng-if="filter.status == 'accepted'" ng-click="GenerateInvoice()">Generate Invoice</md-button>
    <md-button class="md-raised md-primary" ng-if="filter.status == 'accepted'">View Invoice</md-button>
    <md-button class="md-raised md-primary" ng-if="filter.status !== 'accepted'">Accept</md-button>
    <md-button class="md-raised md-warn" ng-if="filter.status !== 'accepted'">Reject</md-button>
</div>