<md-dialog flex>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Item Details <span ng-if="group">of {[{group.group_number}]}</span></h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div flex layout-margin>
            <div layout="row" ng-if="!visible && type != 'view'">
                    <md-checkbox ng-model="checked"  ng-click="checkAll(checked)">Select All</md-checkbox>
                    <md-button class="md-raised md-primary" ng-click="AddToPO()">Add To PO</md-button>
            </div>
            <div layout="row" ng-if="visible" layout-xs="column">
                <md-checkbox ng-model="checked"  ng-click="checkAll(checked)">Select All</md-checkbox>
                <md-button class="md-raised md-primary" ng-click="AddDetails($event,'tax')">Add Tax</md-button>
                <md-button class="md-raised md-primary" ng-click="AddDetails($event,'selectedQuantity')"> Add Selected Quantity</md-button>
                <md-button class="md-raised md-primary" ng-click="AddDetails($event,'unitPrice')">Add Unit Price</md-button>
                <md-button class="md-raised md-primary" ng-click="AddDetails($event,'deliveryDate')">Add Delivery Date</md-button>
                <md-button class="md-raised md-primary" ng-click="AddDetails($event,'secondary-units')">Add Secondary Units</md-button>
                <md-button class="md-raised md-warn" ng-click="DeletePOItems()" ng-if="showDelete">Delete</md-button>
            </div>
            <div id="PR-grid" ng-if="type != 'view'" ui-grid="uiGridOptions" class="grid" ui-grid-edit flex flex-xs="100"></div>
            <div id="PR-grid" ng-if="type == 'view'" ui-grid="uiGridOptions" class="grid" flex flex-xs="100"></div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button type="submit" ng-click="cancel()">
            Cancel
        </md-button>
        <md-button type="submit" ng-if="displaySave" ng-disabled="disableSave" ng-click="save()">
            Save
        </md-button>
        <md-button type="submit" ng-if="type=='edit'" ng-disabled="disableUpdate" ng-click="update()">
            Save
        </md-button>
    </md-dialog-actions>
</md-dialog>