.dashboard{
  .toggle230{
    left: 230px;
  }
  .toggle0{
    left: 0px;
  }
  .toggleMinus230{
    left: -230px;
  }
  @media screen and (max-width:576px){
    .col-xs-left{
      left: 0px;
    }
    .toggleMinus230-xs{
      left: -230px;
    }
  }
  // Top Header
  .top-header{
    position: fixed;
    z-index: 50; //ensuring it stays on top of all
    top: 0;
    right: 0;
    min-height: 45px;
    transition: all .2s ease;
    //left: 230px;// Start of the header
    .header-bar{
        top:0;
        right:0;
        min-height: 45px;
        color: $white;
        background: $primary-color;
        .row{
            min-height: 45px;
            .subtitle{
                margin-bottom: 0;
            }
            .search{
                input {
                    outline: none;
                }
                input[type=search] {
                    height: 25px;
                    -webkit-appearance: textfield;
                    -webkit-box-sizing: content-box;
                    font-family: inherit;
                    font-size: 100%;
                }
                input::-webkit-search-decoration,
                input::-webkit-search-cancel-button {
                    display: none; 
                }
                input[type=search] {
                    background: #ededed url(/assets/img/search-icon.png) no-repeat 9px center;
                    border: solid 1px #ccc;
                    padding: 2px 10px 2px 32px;
                    margin: 0;
                    width: 150px;
                    -webkit-border-radius: 10em;
                    -moz-border-radius: 10em;
                    border-radius: 10em;
                    -webkit-transition: all .5s;
                    -moz-transition: all .5s;
                    transition: all .5s;
                    &:focus{
                        width: 250px;
                        background-color: #fff;
                        border-color: $primary-color;
                        -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
                        -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
                        box-shadow: 0 0 5px rgba(109,207,246,.5);    
                    }
                }
                input:-moz-placeholder {
                    color: #999;
                }
                input::-webkit-input-placeholder {
                    color: #999;
                }
            }
        }
    }
    .dropdown{
      &.menu{

        li{
          a{
            color: #fff;
            font-size: 16px;
            &::after{
                  border-color: #fff transparent transparent !important;
            }
          }
          .is-dropdown-submenu{
            right: 0;
            a{
              color: $black;font-size: 16px;
            }
          }
        }
      }
    }
  }

  // Main Content
  .main-content{
    overflow-y: scroll;
    position: fixed;
    //top: 45px;
    transition: all .2s ease;
    //left: 230px;
    bottom: 0;
    right: 0;
    // section{
    //   height: 100%;
    //   width: 100%;

    // }
    .container-controls{
      position: fixed;
      top: 45px;
      left: 230px;
      right: 0;
      display: block;
      min-height: 45px;
      background-color: darken($primary-color,5%);
      .row{
        height: 45px;
        padding-left: 25px;
        .secondary-controls{

        }
      }
    }
    .content{ //has to be padded
      padding: 45px 25px 5px;
      height: 100%;
      .whitespace{
        height: 600px;
      }
      .scroll-full{
        overflow-y: scroll;
        height: 100%;
      }
      //card-layout
      &.card-layout{
        >.columns{
          margin-right: 15px;    
          background-color: $white;
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
          &:last-child{
            margin-right: 0px;
          }
        }
      }
    }
  }

  // Side Navigation
  .side-navigation{
    position: fixed;
    z-index: 50; //above top-header
    top: 0;
    //left: 0;
    bottom: 0;
    background: darken($primary-color,10%);
    width: 230px; //Has to change for responsive
    transition: all .2s ease;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.2);

    div.row{
      h6{
        span{
          word-wrap: break-word;
        }
      }
    }

    .logo{
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .sn-footer{
        position: absolute;
        bottom: 10px;
        width: 100%;
    }
    ul{
      margin:0;
      padding:0;
        li{
            color: $white;
            border-bottom: 2px solid $dark-gray;
            &:first-child{
                margin-top: 40px;
                border-top: 2px solid $dark-gray;
            }
            a{
                font-size: .95rem;
                display: block;
                line-height: 25px;
                color: $white;
                padding: 9px 5px 9px 30px;
                &:hover,&.active{
                    background-color: $primary-color;
                }

            }
        }

    }
  }

  .global-filter{
    .button{
      margin-right: 10px!important;
      margin-top: 5px;
      color: #888;
      font-size: 0.75rem;
      border-radius: 10px;
      background: transparent;
      border: 2px solid #ccc;
      font-size: .55rem;
      &:hover{
        background: $primary-color;
        color: #fff;
        border: none;
        border: 2px solid $primary-color;
      }
      &.active{
        background: $primary-color;
        color: #fff;
        border: none;
        border: 2px solid $primary-color;

      }
    }
  }

}


.tabs-title{
  display: inline-block;
  float: none;
  a{
      font-size: 0.75rem!important;
  }
  a[aria-selected='true']{
    background: $primary-color!important;
    color: #fff!important;
  }
}
.tabbable{
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  margin-bottom: 60px;
  
}
.tabs{
  background-color: lighten($white,5%)!important;
}
.tabs-content{
  background-color: lighten($white,5%)!important;
  overflow-y: scroll;
  &.vertical{
      max-height: none;
  }
}