.white-space{
  height: 300px;
}
.small-white-space{
  height: 50px;
}
.newsletter{
  .input-group-field {
      border-radius: 5000px 0 0 5000px;
      position: relative;
      transform: translateX(0.5rem);
      margin: 5px -8px;
    }

    .input-group {
      margin-bottom: 0;
      width: 68.7%;
      margin-left: 175px;
    }

    .newsletter-subscribe-inner {
      text-align: center;
    }

    .input-group-button .button{
      //border-radius: 5000px;
      position: relative;
      transform: translateX(-0.5rem);
      min-width: 25vw;
    }
    .button.disabled, .button[disabled]{
      opacity: 1;
    }
}