<div class="container products-section no-padding">
      <div class="col-md-12 padding-15">
        <div id="search-box" class="col-md-6">
          <!-- SearchBox widget will appear here -->
        </div>
        <div id="clear-all" class="col-md-3 clear-all-button">
          <!-- SearchBox widget will appear here -->
        </div>
        <div class="col-md-3">
            <button  class="button float-right" ng-click="sendEnquiry('large',selectedProducts)">Send Enquiry</button>
        </div>
        <div>
            <i class="fa fa-bars float-right view-icon" title="View Inventories"  ng-click="Output()"></i>
      </div>
      </div>
      <div class="col-md-12">
          <div id="stats-container" class="col-md-12">
            <!-- SearchBox widget will appear here -->
          </div>
      </div>
      <div class="col-md-12">
          <div id="hits" class="col-md-12">
            <!-- Hits widget will appear here -->
          </div>
        </div>
      <div class="col-md-12 padding-15">
          <div id="pagination" class="float-none m-auto"></div>
      </div>
    
    <div float-right>
      <img src="/assets/img/search-by-algolia.png"  class="h-20" alt="jacket">
    </div>
    <div class="clear-fix"></div>
</div>

<!-- TEMPLATES -->

 <script type="text/html" id="hitTemplate">

      <div class="selectItem">
        <span class="hitObjectId hidden-xs hidden-lg hidden-md hidden-sm">{{objectID}}</span>
        <input  type="checkbox" ng-model="checkboxValue" id="selectProduct"/>
      </div>
      <div class="hit">  
    <div class="hit-image">
      <img class="hit-image-resize" src="{{imageUrl}}" alt="{{name}}">
    </div>
    <div class="hit-content col-xs-12 no-margin-xs">
      <h3 class="hit-price">
        <span class="currency-symbol">{{product_price}}</span>
      </h3>
      <h2 class="hit-name"><span class="hitObjectId display-none">{{objectID}}</span>{{title}}</h2>
      <h4 class="hit-price">
        <span class="currency-symbol">{{discount_text}}</span>
      </h4>
      <h4 class="hit-price">
        <strike class="currency-symbol">{{actual_price}}</strike>
      </h4>      
      <p class="hit-category-breadcrumb">{{breadCrumbs}}</p>
      
      <!-- <p class="hit-stars">{{{starsLayout}}} ({{popularity}})</p> -->
      <p class="hit-description">{{description}}</p>
      <div class="hit-extra col-md-12">
        <div class="col-md-6">
            <label>Location</label>
            <p class="hit-location">{{location}}</p>
        </div>
        <div class="col-md-6 text-align-right">
            <label>Supplier</label>
            <p class="hit-supplier">
              <a id="toCompanyIntro" href="{{supplier_link}}">{{supplier_obj.supplier}}</a>
            </p>
        </div>
      </div>
      
    </div>
  </div>
</script>

<script type="text/html" id="no-results-template">
  <div id="no-results-message">
    <p>We didn't find any results for the search <em>"{{query}}"</em>.</p>
  </div>
</script>
<!-- /TEMPLATES -->


<!-- <div class="container products-section no-padding">
  <div class="col-md-12 padding-t-b-15">
    <h5>Latest events</h5>
    <div class="items">
      <div class="latest-items-box">
        <div class="items-full-box">
            <div class="item" ng-repeat="productItem in directoryServiceData track by $index" ng-click="open('large', productItem)"> 
                <div class="pro-pic" style="background:url('{[{productItem.image?productItem.image:'/assets/img/sample-pro.jpg'}]}') no-repeat center center; background-size: 100%;">
                </div>
                <div class="info">
                  <p class="product-description" ng-bind="productItem.title"></p>
                  <p class="product-company" ng-bind="productItem.manufacturer"></p>
                </div>
            </div>
            <div ng-if="!directoryServiceData.length">
              <p>No items available with the chosen search criteria. Please change filters and try again.</p>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 padding-t-b-15">
      <h5>Popular items</h5>
      <div class="items">
        <div class="item">
          <div class="pro-pic">
            <img src="https://s3-ap-southeast-1.amazonaws.com/suppliers-cave-image-upload/category/Gratings.jpg" alt="jacket" class="img-item">
          </div>
          <div class="info">
            <p class="product-description">Gratings</p>
            <p class="product-company">IGP Gratings</p>
          </div>
        </div>
        <div class="item">
          <div class="pro-pic">
            <img src="https://s3-ap-southeast-1.amazonaws.com/suppliers-cave-image-upload/category/Pipes.jpg" alt="jacket" class="img-item" alt="jacket" class="img-item">
          </div>
          <div class="info">
            <p class="product-description">Pipes</p>
            <p class="product-company">Velmark</p>
          </div>
        </div>
        <div class="item">
          <div class="pro-pic">
            <img src="https://s3-ap-southeast-1.amazonaws.com/suppliers-cave-image-upload/category/Pressure_Vessels.jpg" alt="jacket" class="img-item">
          </div>
          <div class="info">
            <p class="product-description">Pressure Vessels</p>
            <p class="product-company">Perfect</p>
          </div>
        </div>
        <div class="item">
          <div class="pro-pic">
            <img src="https://s3-ap-southeast-1.amazonaws.com/suppliers-cave-image-upload/category/valves.jpg">
          </div>
          <div class="info">
            <p class="product-description">Valves</p>
            <p class="product-company">Velmark</p>
          </div>
        </div>
      </div>
    </div>
  <div class="clear-fix"></div>
</div> -->

<div ng-include="'/assets/js/modules/directory/states/list/views/content/modalpopup/view-product-details.html'"></div>

<div ng-include="'/assets/js/modules/directory/states/list/views/content/modalpopup/send-enquiry.html'"></div>


