<style>
.input {
  width: 100% !important;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
}
</style>

<script type="text/ng-template" id="companySendEnquiry.html" >
    <div class="col-md-12 modal-container" >
        <div class="col-md-12 modal-box">
            <div class="col-md-12 modal-title">
                <h4 class="margin-0">Send Enquiry</h4>
                <button ng-click="cancel()" class="close-button" aria-label="Close reveal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="clear-fix"></div>
            <div class="modal-body">
                <div class="col-md-12 padding-15 supplier-details-container" >
                    <form>
                        <div>
                            <div class="row col-md-12">
                                <div class="enquiry-subject">
                                   <h6>Subject <input type="text" ng-model="subject" class="input" placeholder="Enquiry for Company" ></h6> 
                                 </div>
                            </div>
                            <div>
                                <h5>Message </h5>
                                <textarea placeholder="Type your Message here" ng-model="message" class="h-140px" row="10" coloum="100" id="mytextarea" ui-tinymce="tinymceOptions"></textarea>
                            </div>
                            <div class="row">
                                        
                                    <div class="margin-top-2">
                                     <h5>Attachments </h5>
                                      <p>PDF, CSV, XLS, DOC, PNG, JPEG, etc (size under 2MB) accepted</p>
                                      <div class="col-md-12">
                                        <div class="col-md-12 m-l-6">
                                                <div class="col-md-6">
                                                        <input type="file" ng-multi-file-model="fileAttachments" multiple />

                                                </div>
                                        <div class="col-md-6">
                                                <button ng-disabled="!fileAttachments.length" class="button2" ng-click="uploadFiles(fileAttachments,'file-attachments',$index)">Upload files</button>

                                        </div>
                                       
                                        </div>                  
                                        <div class="col-md-12">
                                          <p class="" ng-repeat="file in fileAttachments">
                                            <i>{[{file.name}]}</i>
                                          </p>
                                        </div>
                                        
                                      </div>
                                    </div>
                                    
                        </div>   
                        </div>
                    </form>
                    <div class="clear-fix"></div>
                </div>
                <div class="clear-fix"></div>
            </div>
            <div class="clear-fix"></div>
        </div>
        <div class="clear-fix"></div>
        <div class="col-md-12 modal-footerr">
            <div class="col-md-12 padding-15" align="right">
                <button class="button4" ng-click="cancel()">Cancel</button>
                <button class="button4" id="send-enquiry" ng-click="send(to,cc,subject,message,sender_email,sender_name)">Send</button>
                <div class="clear-fix"></div>
            </div>
            <div class="clear-fix"></div>
        </div>
    </div>
</script>
<div ng-include="'/assets/js/modules/company/company-names/companynames.html'"></div>