<section>
    <div class="row align-middle align-center height-100">
      <div class="column center">
        <div ng-if="current_user.data.username">
        <h6><span class="bold">Hello {[{current_user.data.first_name}]} !</span> You don't have access to this page <br> Please contact admin@supplierscave.com for access.</h6>
        </div>
        <div ng-if="!current_user.data.username">
        <h6>You don't have access to this page <br> Please contact admin@supplierscave.com for access.</h6>
        </div>
      </div>
    </div>
</section>