<div ng-controller="dashboard.supplier.product">
  <div class="container add-product-section general-form padding-10 margin-t-15">
    <form name="productDataForm"  novalidate accessible-form>
      <div class="clear-fix"></div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-12">
              <label class="label-l" for="Title">Title*</label>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
              <input id="Productname" class="login-box-input" type="text" name="Productname" ng-model="productData.title" required ng-required="true"
                placeholder="Title" />
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <label class="label-l" for="Description">Description</label>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
              <textarea id="Description" class="login-box-input item-description" type="text" name="description" ng-model="productData.description" 
                 placeholder="Description">
              </textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-12">
              <i class="fa fa-plus-square-o fa-lg float-right" aria-hidden="true" title="Add New Category" ng-model="showNewCategory"
                ng-init="showNewCategory=false" ng-click="showNewCategory = true"></i>
            </div>
            <div class="col-md-12">
              <div class="col-md-3 col-sm-6 col-xs-12 padding-r-sm-8 padding-r-7 no-padding-xs">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <label class="label-l" for="CategoryName">Category Name*</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div angucomplete-alt id="ex2"
                    placeholder="Search categories"
                    pause="100"
                    selected-object="selectedCategory"
                    local-data="categories"
                    search-fields="parentCategory"
                    title-field="parentCategory"
                    minlength="1"
                    focus-in="focusIn()"
                    focus-out="focusOut()"
                    input-class="form-control"
                    input-name="categoryName"
                    field-required="true"
     	              initial-value="category_name"
                    disable-input="showNewCategory">
                   </div>
                  <p class="valid-status invalid color-red" ng-show="productDataForm.categoryName.$invalid && productDataForm.categoryName.$error && productDataForm.categoryName.$touched">This field is mandatory</p>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 padding-l-sm-8 padding-l-r-7 no-padding-xs">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <label class="label-l" for="SubCategory">Sub-Category</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <select ng-disabled="showNewCategory" ng-change="selectedSubCategory(productData.sub_category)" ng-model="productData.sub_category">
                    <option value="" disabled>Select Sub-Category</option>
                    <option ng-repeat="sub_category in subcategories">{[{sub_category}]}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 padding-r-sm-8 padding-l-r-7 no-padding-xs">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <label class="label-l" for="SecondarySubCategory">Secondary Sub Category</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <select ng-disabled="showNewCategory" ng-change="selectedSubSubCategory(productData.sub_sub_category)" ng-model="productData.sub_sub_category">
                    <option value="" disabled>Select Secondary Sub-Category</option>
                    <option ng-repeat="sub_sub_category in subsubcategories">{[{sub_sub_category}]}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 padding-l-sm-8 padding-l-7 no-padding-xs">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <label class="label-l" for="TertiarySubCategory">Tertiary Sub Category</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <select ng-disabled="showNewCategory" ng-model="productData.sub_sub_sub_category">
                    <option value="" disabled>Select Tertiary Sub-Category</option>
                    <option ng-repeat="sub_sub_sub_category in subsubsubcategories">{[{sub_sub_sub_category}]}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-12">
                  <i class="fa fa-minus-square-o fa-lg float-right m-b-10" aria-hidden="true" title="Delete"
                    ng-show="showNewCategory" ng-click="showNewCategory = false"></i>
                </div>
                
                <div ng-if="showNewCategory" class="col-md-12 addNewCategory float-right" title="Add New Category">
                  <div class="col-md-3 col-sm-6 col-xs-12 padding-r-7 padding-r-sm-8 no-padding-xs">
                    <input id="categoryname" class="login-box-input" type="text" name="categoryname" ng-model="productData.category_name" required
                      ng-required="true" placeholder="Category Name" />
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-12 padding-l-r-7 padding-l-sm-8 no-padding-xs">
                    <input id="subcategory" class="login-box-input" type="text" name="subcategory" ng-model="productData.sub_category"
                      required ng-required="true" placeholder="Sub Category" />
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-12 padding-l-r-7 padding-r-sm-8 no-padding-xs">
                    <input id="secondarysubcategory" class="login-box-input" type="text" name="secondarysubcategory" ng-model="productData.sub_sub_category"
                      required ng-required="true" placeholder="Secondary Sub Category" />
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-12 padding-l-7 padding-l-sm-8 no-padding-xs">
                    <input id="tertiarysubcategory" class="login-box-input" type="text" name="tertiarysubcategory" ng-model="productData.sub_sub_sub_category"
                      required ng-required="true" placeholder="Tertiary Sub Category" />
                  </div>
                </div>
                
              </div>
            </div>
          </div>


            <div class="col-md-12">
              <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 padding-r-sm-8 padding-r-7 no-padding-xs">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <label class="label-l" for="Material">Material</label>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <input id="Material" class="login-box-input" type="text" name="Material" ng-model="productData.material"
                      placeholder="Material" />
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 padding-l-sm-8 padding-l-r-7 no-padding-xs">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <label class="label-l" for="Grade">Grade</label>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <input id="Grade" class="login-box-input" type="text" name="Grade" ng-model="productData.grade"
                      placeholder="Grade" />

                  </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 padding-r-sm-8 padding-l-7 no-padding-xs">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <label class="label-l" for="Standard">Standard</label>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <input id="Standard" class="login-box-input" type="text" name="Standard" ng-model="productData.standard"
                      placeholder="Standard" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-12">
                    <i class="fa fa-plus-square-o fa-lg float-right" aria-hidden="true" title="Add New Location" ng-model="showNewLocation"
                      ng-init="showNewLocation=false" ng-click="showNewLocation = true"></i>
                  </div>
                  <div class="col-md-12">
                    <div class="col-md-4 col-sm-6 col-xs-12 padding-r-sm-8 padding-r-7 no-padding-xs">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <label class="label-l" for="Country">Country</label>
                      </div>
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div angucomplete-alt id="ex1" placeholder="Search countries" pause="100" selected-object="selectedCountry" local-data="countries"
                          search-fields="name" title-field="name" minlength="1" focus-in="focusIn()" focus-out="focusOut()"
                          input-class="form-control" disable-input="showNewLocation" initial-value="country">
                        </div>

                      </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 padding-l-sm-8 padding-l-r-7 no-padding-xs">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <label class="label-l" for="State">State</label>
                      </div>
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <select ng-disabled="showNewLocation" ng-change="selectedState(productData.state)" ng-model="productData.state">
                          <option value="" disabled>Select State</option>
                          <option ng-repeat="state in states">{[{state}]}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 padding-r-sm-8 padding-l-7 no-padding-xs">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <label class="label-l" for="City"> City: </label>
                      </div>
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <select ng-disabled="showNewLocation" ng-model="productData.city">
                          <option value="" disabled>Select City</option>
                          <option ng-repeat="city in cities">{[{city}]}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-12">
                    <i class="fa fa-minus-square-o fa-lg float-right" aria-hidden="true" title="Delete"
                      ng-show="showNewLocation" ng-click="showNewLocation = false"></i>
                  </div>
                  
                    <div class="col-md-12" ng-if="showNewLocation" class="addNewLocation float-right" title="Add New Location"s>
                      <div class="col-md-4 col-sm-6 col-xs-12 padding-r-sm-8 padding-r-7 no-padding-xs">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <label class="label-l" for="Country">Country</label>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <input id="Country" class="login-box-input" type="text" name="Country" ng-model="productData.country" required ng-required="true"
                            placeholder="Country" />
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-6 col-xs-12 padding-l-sm-8 padding-l-r-7 no-padding-xs">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <label class="label-l" for="State">State</label>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <input id="State" class="login-box-input" type="text" name="State" ng-model="productData.state" required ng-required="true"
                            placeholder="State" />

                        </div>
                      </div>
                      <div class="col-md-4 col-sm-6 col-xs-12 padding-r-sm-8 padding-l-7 no-padding-xs">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <label class="label-l" for="City">City</label>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <input id="City" class="login-box-input" type="text" name="City" ng-model="productData.city_draft" required ng-required="true"
                            placeholder="City" />
                        </div>
                      </div>
                    </div>

                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 no-padding-xs">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <label class="label-l" for="Manufacturer">Manufacturer</label>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
                    <input id="Manufacturer" class="login-box-input h-42" type="text" name="Manufacturer" ng-model="productData.manufacturer" 
                       placeholder="Manufacturer"/>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 no-padding-xs">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <label class="label-l" for="Industry">Industry</label>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12 multi-select">
                    <div ng-dropdown-multiselect="" 
                      options="industryList" 
                      id="directory-selected-industry"  
                      selected-model="selectedIndustry"  
                      events="selectEvents" 
                      extra-settings="dropDownSettings">
                    </div>
                </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 no-padding-xs">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <label class="label-l" for="Remarks">Remarks</label>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <textarea id="Remarks" class="login-box-input h-100-p" type="text" name="Remarks" ng-model="productData.remarks" 
                      placeholder="Remarks">
                    </textarea>
                  </div>
                </div>

                <section class="col-md-12 manage-products-section col-lg-8">
                    <div class="col-md-12">
                      <label class="m-t-19">
                        <b>Add Product Images:</b>
                      </label>
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <label class="label-l" for="addFile">Add File (PDF, JPEG, PNG, DOCS)</label>
                      </div>
                      <div class="col-md-8 col-sm-8 col-xs-12">
                        <input class="adjust-mto-fileupload" id="directory-image" type="file" valid-file upload="uploadDirectories(file,$index,'product-images')"
                        />
                      </div>
                      <div class="col-md-12">
                        <div ng-repeat="file in directoryAttachments track by $index" class="margin-l-2 margin-top-n-1">
                          {[{file.split('/').pop()}]}
                          <md-button class="md-icon-button">
                            <md-icon class="material-icons clear-icon" ng-click="removeImages(directoryAttachments,$index)"
                              title="Remove Attachment">clear</md-icon>
                          </md-button>
                        </div>
                      </div>
                      <div class="col-md-12 col-xs-12">
                        <div ng-repeat="file in productDataImages track by $index" class="margin-l-2 margin-top-n-1">
                          {[{file.name}]}
                          <md-button class="md-icon-button">
                            <md-icon class="material-icons clear-icon" ng-click="removeProductImages(productDataImages, $index)"
                              title="Remove Attachment">clear</md-icon>
                          </md-button>
                        </div>
                      </div>
                    </div>

                  <div class="section-row padding-15 no-padding-xs">
                        <div class="col-md-12">
                          <label class="m-t-19">
                            <b>Add Documents:</b>
                          </label>
                        
                          <div class="col-md-12 col-sm-12 col-xs-12">
                            <label class="label-l" for="addFile">Add File (PDF, JPEG, PNG, DOCS)</label>
                          </div>
                          <div class="col-md-8 col-sm-8 col-xs-12">
                            <input class="adjust-mto-fileupload" id="directory-doc" type="file" valid-file upload="uploadDirectories(file,$index,'file-attachments')"
                            />
                          </div>
                          <div class="col-md-12">
                            <div ng-repeat="file in directoryDocs track by $index" class="margin-l-2 margin-top-n-1">
                              {[{file.split('/').pop()}]}
                              <md-button class="md-icon-button">
                                <md-icon class="material-icons clear-icon" ng-click="removeDocuments(directoryDocs,$index)" title="Remove Attachment">clear</md-icon>
                              </md-button>
                            </div>
                          </div>
                        </div>
                      <div class="col-md-12 col-xs-12">
                          <div ng-repeat="file in productDataFiles track by $index" class="margin-l-2 margin-top-n-1">
                              {[{file.name}]}
                                  <md-button class="md-icon-button">
                                      <md-icon class="material-icons clear-icon" ng-click="removeProductFiles(productDataFiles, $index)"
                                          title="Remove Attachment">clear</md-icon>
                                  </md-button>
                          </div>
                    </div>
                  </div>
                </section>
                <div class="col-md-12 action-menu">
                  <div class="row float-right">
                    <button class="button4" ng-click="cancel()">
                      Cancel
                    </button>
                    <button class="button4" id="save-directory" ng-disabled="disabled" ng-style="{'opacity': (disabled) ? '0.25':''}" ng-click="saveProductInfo(productData,productDataForm.$valid)">
                      Save
                    </button>
                  </div>
                  <div class="clear-fix"></div>
                </div>
              </div>
        </form>
      </div>
    </div>
