<md-dialog flex>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Item Details</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div flex layout-margin>
            <div layout="row" ng-if="showDelete" layout-xs="column">
                <md-checkbox ng-model="checked" ng-click="checkAll(checked)">Select All</md-checkbox>
                <md-button class="md-raised md-primary" ng-click="AddDetails($event,'tax')">Add Tax</md-button>
                <md-button class="md-raised md-primary" ng-click="AddDetails($event,'selectedQuantity')"> Add Selected Quantity</md-button>
                <md-button class="md-raised md-primary" ng-click="AddDetails($event,'unitPrice')">Add Unit Price</md-button>
                <md-button class="md-raised md-primary" ng-click="AddDetails($event,'deliveryDate')">Add Delivery Date</md-button>
                <md-button class="md-raised md-warn" ng-click="deleteItems()">Delete</md-button>
            </div>
            <div id="SO-grid" ui-grid="uiGridOptions" class="grid" ui-grid-edit flex flex-xs="100"></div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button type="submit" ng-click="cancel()">
            Cancel
        </md-button>
        <md-button type="submit" ng-click="saveSO()" ng-disabled="disableSave" ng-if="type == 'add' && !saveItem">
            Save
        </md-button>
        <md-button type="submit" ng-if="showDelete" ng-disabled="disableUpdate" ng-click="updateItems()">
            Save
        </md-button>
    </md-dialog-actions>
</md-dialog>