<md-dialog aria-label="Customer Contacts" flex-gt-xs="100" flex-gt-sm="70">
        <form ng-cloak name="contactsForm" ng-submit="contactsForm.$valid && submit(contactsForm)">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Customer Address</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon aria-label="Close dialog">clear</md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content class="md-padding md-margin">
                <div class="md-dialog-content">
                    <div class="md-cr-input-block">
                        <div class="md-cr-input-block" flex flex-xs="100" layout="row" layout-xs="column">
                            <div flex="45" flex-xs="100">
                                <md-input-container class="md-block">
                                    <label>Address name</label>
                                    <input name="nameofaddress" required ng-model="contact.nameofaddress">
                                </md-input-container>
                            </div>
                            <div flex="10"></div>
                            <div flex="45" flex-xs="100">
                                <md-input-container class="md-block">
                                    <label>Address line 1</label>
                                    <input  name="addressline1" required ng-model="contact.addressline1">
                                </md-input-container>
                             </div>
                        </div>
                        <div class="md-cr-input-block" flex flex-xs="100" layout="row" layout-xs="column">
                            <div flex="45" flex-xs="100">
                                <md-input-container class="md-block">
                                    <label>Address line 2</label>
                                    <input name="addressline2" ng-model="contact.addressline2">
                                </md-input-container>
                            </div>
                            <div flex="10"></div>
                            <div flex="45" flex-xs="100">
                                <md-input-container class="md-block">
                                    <label>City</label> 
                                    <input  name="cityname" ng-model="contact.cityname" required>
                                </md-input-container>
                            </div>
                        </div>
                        <div class="md-cr-input-block" flex flex-xs="100" layout="row"  layout-xs="column">
                                <div flex="45" flex-xs="100">
                                    <md-input-container class="md-block">
                                        <label>State</label>
                                        <input name="state" ng-model="contact.state">
                                    </md-input-container>
                                </div>
                                <div flex="10"></div>
                                <div flex="45" flex-xs="100">
                                    <md-input-container class="md-block">
                                        <label>Country</label>
                                        <input name="country"  ng-model="contact.country">
                                    </md-input-container>
                                </div>
                        </div>
                        <div class="md-cr-input-block" flex flex-xs="100" layout="row" layout-xs="column">
                            <div flex="10" flex-xs="30">
                                <md-input-container class="md-block">
                                    <label>Counrty Code</label>
                                    <input name="countryCode1{[{$index}]}" ng-model="contact.country_code">
                                </md-input-container>
                            </div>
                            <div flex="35" flex-xs="70">
                                <md-input-container class="md-block">
                                    <label>Phone Number 1</label>
                                    <input name="phonenumber1" ng-model="contact.phonenumber">
                                </md-input-container>
                            </div>
                            <div flex="10"></div>
                            <div flex="45" flex-xs="100">
                                <md-input-container class="md-block">
                                    <label>Email ID</label>
                                    <input name="emailid"  ng-model="contact.emailid">
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                </div>
            </md-dialog-content>
            <md-dialog-actions layout="row">
                <span flex></span>
                <md-button class="md-primary md-raised cr-md-primary" ng-click="cancel()">
                    Cancel
                </md-button>
                <md-button class="md-primary md-raised cr-md-primary" ng-click="customerAddress(contact,contactsForm.$valid)">
                    Save
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>