<md-dialog aria-label="Company Customers" flex-gt-xs="75" flex-gt-sm="70">
    <form ng-cloak name="customerForm" ng-submit="customerForm.$valid && submit(customerForm)">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Customer</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">clear</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="md-padding md-margin" ng-if="source == 'customer' || source == 'project'">
            <div class="md-dialog-content">
                <div class="md-cr-input-block">
                    <div class="md-cr-input-block" flex flex-xs="100" layout="row">
                        <div flex="45">
                            <md-input-container class="md-block">
                                <label>Name</label>
                                <input name="customer_name" required ng-model="customer.name">
                            </md-input-container>
                        </div>
                        <div flex="10"></div>
                        <div flex="45">
                                <label>Logo</label><br>
                                <input type="file" id="customer-logo" class="margin-top-2" valid-file upload="uploadLogo(file,$index)" />
                         </div>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-content class="md-padding md-margin" ng-if="source == 'testimonial'">
            <div class="md-dialog-content">
                <div class="md-cr-input-block">
                    <div class="md-cr-input-block" flex flex-xs="100" layout="row">
                        <div flex="45">
                            <md-input-container class="md-block">
                                <label>Name</label>
                                <input name="customer_name" required ng-model="customer.name">
                            </md-input-container>
                        </div>
                        <div flex="10"></div>
                        <div flex="45">
                                <label>Image</label><br>
                                <input type="file" id="customer-image" class="margin-top-2" valid-file upload="uploadLogo(file,$index)" />
                         </div>
                    </div>
                    <div class="md-cr-input-block" flex flex-xs="100" layout="row">
                        <div flex="45">
                            <md-input-container class="md-block">
                                <label>Designation</label>
                                <input name="designation" required ng-model="customer.designation">
                            </md-input-container>
                        </div>
                        <div flex="10"></div>
                        <div flex="45">
                            <md-input-container class="md-block">
                                <label>Company Name</label>
                                <input name="company_name" required ng-model="customer.company_name">
                            </md-input-container>
                        </div>
                    </div>
                    <div class="md-cr-input-block" flex flex-xs="100" layout="row">
                            <div flex="45">
                                <md-input-container class="md-block">
                                    <label>Signature</label>
                                    <input name="signature" required ng-model="customer.signature">
                                </md-input-container>
                            </div>
                            <div flex="10"></div>
                            <div flex="45">
                                
                             </div>
                    </div>
                    <div class="md-cr-input-block" flex flex-xs="100" layout="row">
                        <div flex>
                            <md-input-container class="md-block">
                                <label>Description</label>
                                <textarea rows="4" id="Description" type="text" name="Description"  maxlength="500" ng-model="customer.description"></textarea>

                            </md-input-container>
                        </div>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-primary md-raised cr-md-primary" ng-click="cancel()">
                Cancel
            </md-button>
            <md-button class="md-primary md-raised cr-md-primary" ng-click="save(customer)">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>