<div layout="column" layout-align="start center" class="md-margin md-padding">
        <div layout="row" layout-sm="column" ng-if="showLoader" layout-align="center center" class="loader">
                <div layout="column">
                        <md-progress-circular md-mode="indeterminate" class="loader-2"></md-progress-circular>
                </div>
        </div>
    <div layout="column" flex ng-controller="layout.standard.filtersController" class="main-card">
        <md-card-content>
            <div layout="row" layout-xs="column">
                <div layout="column" flex layout-gt-xs="row">
                    <div flex class="md-display-1">
                        Manage Enquiry
                    </div>
                    <span layout-xs="column">
                        <div layout-xs="row" layout-align-xs="end">
                            <md-button class="md-icon-button" ng-click="EnquiryFilters(enquiry)">
                                <md-icon class="material-icons managecustomericon" title="Apply Filters">filter_list</md-icon>
                            </md-button>
                            <md-button class="md-icon-button" ng-click="clear()">
                                <md-icon class="material-icons managecustomericon color-red" title="Clear Filters">close</md-icon>
                            </md-button>
                        </div>
                    </span>
                </div>
            </div>
            <div layout="row" layout-xs="column">
                <div layout="column" flex layout-gt-xs="row">
                    <div flex>
                        <md-input-container class="md-block">
                            <label>Customer</label>
                            <md-select ng-model="enquiry.customer">
                                <md-option ng-repeat="customer in customersList" ng-value="customer">
                                    {[{customer.name}]}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div flex>
                        <md-input-container class="md-block">
                            <label>Project</label>
                            <md-select ng-model="enquiry.project" ng-change="subProjectFilter(enquiry.project)">
                                <md-option ng-repeat="project in projectNames" ng-value="project">
                                    {[{project.label}]}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div flex>
                        <md-input-container class="md-block">
                            <label>Enquiry Type</label>
                            <md-select ng-model="enquiry.enquiry_type">
                                <md-option ng-repeat="type in projectType" ng-value="type">
                                    {[{type.name}]}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>
            </div>
            <div layout="row" layout-xs="column">
                <div layout="column" flex layout-gt-xs="row">
                    <div flex>
                        <md-input-container class="md-block">
                            <label class="md-caption">Date From</label>
                            <md-datepicker type="date" layout="row" name="Date" id="datefrom" ng-model="enquiry.date_from"></md-datepicker>
                        </md-input-container>
                    </div>
                    <div flex>
                        <md-input-container class="md-block">
                            <label class="md-caption">Date To</label>
                            <md-datepicker type="date" layout="row" name="Date" id="datefrom" ng-model="enquiry.date_to"></md-datepicker>
                        </md-input-container>
                    </div>
                    <div flex></div>
                </div>
            </div>
        </md-card-content>
        <div layout="row" class="dotted-border"></div>
        <div layout="row" class="margin-top-2">
            <div flex>
                <!-- <md-checkbox ng-model="item.checked">Select all</md-checkbox> -->
            </div>
            <span>
                <md-button class="md-icon-button" ng-click="createEnquiry()">
                    <md-icon class="material-icons managecustomericon" ng-if="type==='Sent'"  title="Create Enquiry">add</md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="editEnquiry(selectedEnquiries)">
                    <md-icon class="material-icons managecustomericon" ng-if="type==='Sent'"  title="Edit Enquiry">edit</md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="sendEnquiry(selectedEnquiries,totalEnquiries,$event)">
                    <md-icon class="material-icons managecustomericon" ng-if="type==='Sent'" 
                        title="Send Enquiry">send</md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="deleteEnquiry(selectedEnquiries)">
                    <md-icon class="material-icons managecustomericon color-red" ng-if="type==='Sent'" 
                        title="Delete Enquiry">delete</md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-if="type==='Received'" ng-click="makeOffer('large',selectedEnquiries,totalEnquiries)">
                    <md-icon class="material-icons managecustomericon" title="Create Offer">local_offer</md-icon>
                </md-button>
            </span>
        </div>
    </div>
</div>
<div layout="column" layout-align="start center" class="md-margin md-padding">
    <div class="margin-r-:55">Total
        <b>{[{count}]}</b> records</div>
    <div layout="column" flex ng-repeat="item in totalEnquiries" class="list-cards" track by $index>
        <div layout="row">
            <md-checkbox ng-model="item.checked" ng-change="selectedValue(item,$index,item.checked)"></md-checkbox>
            <div layout="column" flex>
                <md-card md-theme-watch ng-click="viewEnquiry(item)">
                    <md-card-content>
                        <div layout="row" layout-xs="column">
                            <div layout="column" flex layout-margin layout-gt-xs="row">
                                <div flex>
                                    <label class="md-caption">Enquiry Number</label>
                                    <p class="md-body-1">{[{ item.enquiry_number ? item.enquiry_number : 'NA'}]} {[{item.revision_number?('Rev:
                                        '+item.revision_number):''}]}
                                    </p>
                                </div>
                                <div flex>
                                    <label class="md-caption">Date</label>
                                    <p class="md-body-1">{[{ item.dateFormate }]}</p>
                                </div>
                                <div flex>
                                    <label class="md-caption">Subject</label>
                                    <p class="md-body-1" ng-bind-html="(item.subject | limitTo:30) + ( item.subject.length>30 ? '...': '' )">{[{item.subject ? item.subject : 'NA'}]}</p>
                                </div>
                                <div flex>
                                    <label class="md-caption">Status</label>
                                    <p class="md-body-1">{[{item.status}]}</p>
                                </div>
                                <div flex>
                                    <label class="md-caption">Buyer Name</label>
                                    <p>{[{item.project.customer ? item.project.customer.name : 'NA'}]}</p>
                                    <!-- <p ng-if="item.buyer.length && type==='Sent'" cclass="md-body-1">
                                        {[{item.offer_enquiry.length}]} offers received</p>
                                    <p ng-if="item.offer_enquiry.length && type==='Received'" class="md-body-1">
                                        Offer sent</p>
                                    <p ng-if="!item.offer_enquiry.length && type==='Sent'" class="md-body-1">Not applicable</p>
                                    <p ng-if="!item.offer_enquiry.length && type==='Received'" class="md-body-1">Not created</p> -->
                                </div>
                            </div>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</div>
<div layout="row" layout-margin layout-align="center center">
    <div>
        <pagination page="currentPage" total-items="count" max-size="maxSize" ng-click="setPage(currentPage)" boundary-links="true">
        </pagination>
    </div>
</div>
<!-- <div ng-include="'assets/js/modules/manage-offers/offer-modal.html'" ng-if="showOfferDialog"></div> -->
