<md-dialog flex>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{[{group_number ? "View Details Of " + group_number : "View Details"}]}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon>clear</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" flex-xs="100">
                <md-table-container ng-if="visible">
                    <table 
                        md-table 
                        md-row-select 
                        multiple 
                        ng-model="selected">
                        <thead md-head md-order="query.order">
                            <tr md-row>
                                <th md-column ng-repeat="item in tableHeadings">
                                    {[{item}]}
                                </th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr 
                                md-row 
                                md-auto-select
                                md-select="record" 
                                md-select-id="id" 
                                ng-disabled="record.enquiry"
                                ng-click="checkEnquiry(record)"
                                ng-repeat="record in data">
                                <td md-cell>{[{record.displayId}]}</td>
                                <td md-cell>{[{record.title}]}</td>
                                <td md-cell>{[{record.description}]}</td>
                                <td md-cell>{[{record.category}]}</td>
                                <td md-cell>{[{record.sub_category}]}</td>
                                <td md-cell>{[{record.sub_sub_category}]}</td>
                                <td md-cell>{[{record.sub_sub_sub_category}]}</td>
                                <td md-cell>{[{record.material}]}</td>
                                <td md-cell>{[{record.grade}]}</td>
                                <td md-cell>{[{record.specification}]}</td>
                                <td md-cell>{[{record.dimension_a}]}</td>
                                <td md-cell>{[{record.unit_a}]}</td>
                                <td md-cell>{[{record.dimension_b}]}</td>
                                <td md-cell>{[{record.unit_b}]}</td>
                                <td md-cell>{[{record.dimension_c}]}</td>
                                <td md-cell>{[{record.unit_c}]}</td>
                                <td md-cell>{[{record.total_quantity}]}</td>
                                <td md-cell>{[{record.quantity_ordered}]}</td>
                                <td md-cell>{[{record.quantity_remaining}]}</td>
                                <td md-cell>{[{record.unit_measure}]}</td>
                                <td md-cell>{[{record.buyer_notes}]}</td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
              <div ng-if="!visible">
                    <div id="view-pr-items" ui-grid="uiGridOptions" ui-grid-exporter class="grid" flex flex-xs="100"></div>
              </div>
                <!-- <md-table-container ng-if="!visible">
                    <table 
                        md-table 
                       ng-model="selected">
                        <thead md-head md-order="query.order">
                            <tr md-row>
                                <th md-column ng-repeat="item in tableHeadings">
                                    {[{item}]}
                                </th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr 
                                md-row 
                                md-auto-select
                                md-select="record" 
                                md-select-id="id" 
                                ng-disabled="record.enquiry"
                                ng-click="checkEnquiry(record)"
                                ng-repeat="record in data">
                                <td md-cell>{[{record.displayId}]}</td>
                                <td md-cell>{[{record.title}]}</td>
                                <td md-cell>{[{record.description}]}</td>
                                <td md-cell>{[{record.category}]}</td>
                                <td md-cell>{[{record.sub_category}]}</td>
                                <td md-cell>{[{record.sub_sub_category}]}</td>
                                <td md-cell>{[{record.sub_sub_sub_category}]}</td>
                                <td md-cell>{[{record.material}]}</td>
                                <td md-cell>{[{record.grade}]}</td>
                                <td md-cell>{[{record.specification}]}</td>
                                <td md-cell>{[{record.dimension_a}]}</td>
                                <td md-cell>{[{record.unit_a}]}</td>
                                <td md-cell>{[{record.dimension_b}]}</td>
                                <td md-cell>{[{record.unit_b}]}</td>
                                <td md-cell>{[{record.dimension_c}]}</td>
                                <td md-cell>{[{record.unit_c}]}</td>
                                <td md-cell>{[{record.total_quantity}]}</td>
                                <td md-cell>{[{record.quantity_ordered}]}</td>
                                <td md-cell>{[{record.quantity_remaining}]}</td>
                                <td md-cell>{[{record.unit_measure}]}</td>
                                <td md-cell>{[{record.buyer_notes}]}</td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container> -->

            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button type="submit" ng-click="exportCsv()" ng-if="!visible">
                Download
            </md-button>
            <md-button type="submit" ng-click="cancel()">
                Close
            </md-button>
            <md-button type="submit" ng-if="!disableSave" ng-click="save()">
                Save
            </md-button>
            <md-button type="submit" ng-if="showmtoList" ng-click="delete()">
                Delete
            </md-button>
        </md-dialog-actions>
    </md-dialog>








