<div class="side-nav-bg col-xs-12 fade hidden-md hidden-sm hidden-lg" ng-show="toggle" ng-click="toggleClick(toggle)" ng-style="windowInnerHeight"></div>
<div class="side-navigation" ng-class="{toggle0:toggle==true, toggleMinus230:toggle==false}">
    <div class="row align-middle align-center title">
        <div class="logo columns">
            <i class="fa fa-bars fade admin-sidenav" ng-click="toggleClick(toggle)"></i>
            <a target="_self" href="/" class="site-logo" id="site-logo">
                <img src="/assets/img/supplierscave-logo.png" class="h-80" alt="supplierscave">
                <div class="clear-fix"></div>
            </a>
        </div>
    </div>
    <div class="row columns align-center center">
        <h6 class="light-color margin-top-2 margin-bottom-1">Finance Dashboard</h6>
        <!-- <h6 class="secondary-color">
            <span ng-bind="current_user.data.company.company_name"></span>
        </h6> -->
    </div>
    <ul class="">
            <!-- <li>
                <a ui-sref="storeDashboard.stores.list" id="stores" ng-class="{active: ('storeDashboard.stores'| includedByState)}"
                    class="sub-menu">
                    Stores
                </a>
            </li> -->
    </ul>
</div>