<div class="row column align-center expanded layout-padding">
  <h3 class="margin-top-1 margin-bottom-1">Manage Companies</h3>
  <div class="primary-line margin-bottom-2 margin-0"></div>
  
      <div>
          <div ng-controller="layout.standard.filtersController" ng-include="'assets/js/modules/filters/company-filters.html'"></div>
        <ul>
          <li><p class="margin-bottom-1 primary-color">Please remember to click on <span class="filter-message">Clear</span> before applying filters.</p></li>
          <li><p class="margin-bottom-1 primary-color">To permanently delete a record, right click on that record and press <span class="filter-message">Remove row</span></p></li>
        </ul>
        <div>
          <md-checkbox ng-model="selectAll" ng-click="checkAll(selectAll)">Select All</md-checkbox>
          <button class="button2 col-xs-6 col-md-6 float-right delete-button" ng-click="deleteData(table_changes, table_deletes, data)">Delete</button>
          <button class="button2 col-xs-6 col-md-6 float-right" ng-click="addMultipleCompanies()">Add Multiple Companies</button>
          <button class="button2 col-xs-6 col-md-6 float-right" ng-click="save(table_changes, table_deletes, data,'everything')">Hide Company</button>
          <button class="button2 col-xs-6 col-md-6 float-right" ng-click="viewCompany(table_changes)">View Details</button>
          <button class="button2 col-xs-6 col-md-6 float-right" ng-click="createCompany()">Create Company</button>
          <div class="clear-fix"></div>
          <div class="clear-fix"></div>
        </div>
        <div handsontable-django-fullaccess api-service="CompanyService" hot-id="guide_djangorest_User_readonly" height='400' 
        min-rows="0" min-spare-rows="0" 
        exclude_fields="supplier,messages,shortlists,logentry,auth_token,social_auth,snippets,snippets_group,categories,
        inventories,directories,directory,inventory,sentMessages,receivedMessages,groups,user_permissions,last_login,date_joined,
        users,image,products_manufactured,supplier_company,users,inventories,customer_company
        ,company_tax_items,company_bank_details,grn_item_company,store_company,MR_company,buyer_company,company_testimonials,project_company" ></div>
      </div>
   
      <div class="col-md-12" ng-if="editOne">
        <button ng-click="cancelEdit()"><i class="fa fa-angle-double-left"></i> Back to list</button>
        <div ng-controller="layout.standard.managecompanyController" ng-include="'assets/js/modules/company/manage-company/manage-company-view.html'"></div>
      </div>
      <div class="col-md-12" ng-if="editCompanyInfo">
          <button ng-click="cancelCompanyEdit()"><i class="fa fa-angle-double-left"></i> Back to View</button>
          <div ng-controller="layout.standard.managecompanyController" ng-include="'assets/js/modules/company/manage-company/manage-company-edit.html'"></div>
      </div>
   
</div>