<section>
    <div>
        <a target="_self" href="/" id="site-logo" class="site-logo"> <img src="/assets/img/supplierscave-logo.png"
            class="h-80 login-logo" alt="Supplierscave"></a>
    </div>
  <div class="fullscreen-image make-dark main-login-section small-order-2 login-bg">
  <div ng-if="!current_user.data.username" ng-cloak class="ng-cloak">
    <div class="container">
      <div class="row align-middle align-center height-100">
        <div class="column">
          <div class="login-box">
            <div class="row collapse expanded">
              <div class="small-12 medium-6 column small-order-1 medium-order-1">
                <div class="login-box-form-section">
                  <h1 class="login-box-title">Log In</h1>
                  <!-- <form name="LoginForm" ng-submit="current_user.login(login,LoginForm.$valid)" ng-controller="login.controller" novalidate>
                    <input class="login-box-input" type="text" name="username" id="login-username" ng-model="login.username" required ng-required="true" placeholder="Username" />
                    <p ng-if="LoginForm.username.$error.required && LoginForm.username.$touched" ng-cloak class="ng-cloak alert-color margin-bottom-dot5">This is a required field</p>
                    <input class="login-box-input" type="password" id="login-password" ng-model="login.password" required ng-required="true" name="password" placeholder="Password" />
                    <p ng-if="LoginForm.password.$error.required && LoginForm.password.$touched" ng-cloak class="ng-cloak alert-color margin-bottom-dot5">This is a required field</p>
                    <input class="login-box-submit-button" type="submit" id="login-submit" name="signup_submit" ng-disabled="LoginForm.$invalid" value="Log In" />
                    <div ng-if="current_user.unsuccessful_attempt" ng-cloak class="ng-cloak callout alert margin-top-1">Incorrect username or password. Please try again.</div>
                  </form> -->
                  <div layout="row" flex="100">
                    <div layout="column" flex="100">
                      <form name="LoginForm" ng-submit="current_user.login(login,LoginForm.$valid)" ng-controller="login.controller" novalidate>
                        <div layout="row">
                          <md-input-container class="md-block flex md-input-invalid">
                            <label>Username</label>
                            <input type="text" name="username" id="login-username" ng-model="login.username" required ng-required="true" ng-disabled="disableEmail">
                          </md-input-container>
                        </div>
                        <div layout="row">
                          <md-input-container class="md-block flex md-input-invalid">
                            <label>Password</label>
                            <input type="password" name="password" id="login-password" ng-model="login.password" required ng-required="true" ng-disabled="disableEmail">
                          </md-input-container>
                        </div>
                        <div layout="row">
                            <md-button class="md-primary md-raised cr-md-primary" type="submit" id="login-submit" name="signup_submit" ng-disabled="LoginForm.$invalid">
                                Login
                            </md-button>
                        </div>
                        <div layout="row" ng-if="current_user.unsuccessful_attempt" ng-cloak class="ng-cloak callout alert margin-top-1">Incorrect username or password. Please try again.</div>
                      </form>
                    </div>
                  </div>
                  <div class="col-md-12 forgot-psd">
                    <p class="large-font margin-top-1">New User? Please register
                      <a href="/register/options" id="login-page-new-user-register" target="_self">here</a>
                    </p>
                    <p class="large-font margin-top-1">
                      <a ng-click="open()" target="_self" id="login-forgot-password">Forgot Password ?</a>
                    </p>
                  </div>
                </div>
                <div class="or">OR</div>
              </div>
              <div class="small-12 medium-6 column small-order-1 medium-order-2 login-box-social-section">
                <div class="login-box-social-section-inner">
                  <span class="login-box-social-headline">Log in with
                    <br />your social network</span>
                  <a class="login-box-social-button-google" href="/api/login/google-oauth2" target="_self">Log in with Google+</a>
                  <a class="login-box-social-button-linkedin" href="/api/login/linkedin-oauth2" target="_self">Log in with LinkedIn</a>
                  <!-- <a class="login-box-social-button-facebook" href="/api/login/facebook" target="_self">Log in with Facebook</a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="current_user.data.username" ng-cloak class="ng-cloak">
    <div class="container">
      <div class="row align-middle align-center height-100">
        <div class="column">
          <div class="login-box">
            <div class="row collapse expanded">
              <div class="small-12 medium-9 column small-order-2 medium-order-1">
                <div class="login-box-form-section center">
                  <h1 class="login-box-title user-msg">Welcome
                    <span class="primary-color" ng-bind="current_user.data.username"></span>!
                    <br>
                    <span class="larger-font margin-top-2">You are subscribed to following application(s)</span>
                  </h1>
                  <div ng-if="(current_user.data.is_superuser)">
                    <a href="/admin-dashboard/user" target="_self">
                      <button id="current-user-admin-dashboard" class="button login-box-submit-button margin-top-dot5 ">Admin Dashboard</button>
                    </a>
                  </div>
                  <div ng-if="(current_user.data.is_superuser || current_user.data.is_seller)">
                    <a href="/supplier-dashboard/projects/list" id="supplier-dashboard-inventory" target="_self">
                      <button class="button login-box-submit-button margin-top-dot5">Supplier Dashboard</button>
                    </a>
                  </div>
                  <div ng-if="(current_user.data.is_superuser || current_user.data.is_buyer)">
                    <a href="/buyer-dashboard/enquiries?type=Sent" id="buyer-dashboard-shortlist" target="_self">
                      <button class="button login-box-submit-button margin-top-dot5">Buyer Dashboard</button>
                    </a>
                  </div>
                  <div ng-if="(current_user.data.is_superuser || current_user.data.is_store)">
                    <a href="/stores-dashboard/inventory/list" id="buyer-dashboard-shortlist" target="_self">
                      <button class="button login-box-submit-button margin-top-dot5">Stores Dashboard</button>
                    </a>
                  </div>
                  <!-- <div ng-if="(current_user.data.is_superuser || current_user.data.is_finance)">
                    <a href="/finance-dashboard" id="buyer-dashboard-shortlist" target="_self">
                      <button class="button login-box-submit-button margin-top-dot5">Finance Dashboard</button>
                    </a>
                  </div> -->
                  <div>
                      <a href="/market-dashboard/inventory" id="marketplace-dashboard-inventory" target="_self">
                        <button class="button login-box-submit-button margin-top-dot5">MarketPlace Dashboard</button>
                      </a>
                  </div>
                </div>
              </div>
              <div class="small-12 medium-3 column small-order-1 medium-order-2 login-box-social-section">
                <div class="login-box-social-section-inner margin-top-2 center">
                  <h5 class="light-color margin-bottom-2" id="current-user-logout">Log out
                    <br> to continue as different user</h5>
                  <a class="login-box-social-button-google" ng-click="current_user.logout()">Log Out</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<script type="text/ng-template" id="forgot-password.html">
  <div class="col-md-12 modal-container forgot-psd-popup">
      <div class="col-md-12 forgotpsd-modal-title">
          <h4>Forgot your password ?</h4>
      </div>
      <div class="col-md-12 modal-box">
          <div class="modal-body">
              <div class="col-md-12 padding-15">
                  <div class="col-md-12 text-info">
                      <p>Don't worry! just fill in your email and we will help you to reset your password.</p>
                  </div>
                  <div class="col-md-12">
                    <h6>Email address</h6>
                  </div>
                  <div class="col-md-12 general-form">
                      <input type="text" ng-model="passwordToEmail" name="forgotPassword" placeholder="Enter your email id" required />
                  </div>
                  <div class="col-md-12">
                      <button class="button2" ng-click="forgotPassword(passwordToEmail)" id="login-page-forgot-password-submit">Submit</button>
                  </div>
                  <div class="clear-fix"></div>
              </div>
              <div class="clear-fix"></div>
          </div>
          <div class="clear-fix"></div>
      </div>
      <div class="clear-fix"></div>
      <div class="col-md-12 modal-footerr forgot-psd-popup">
          <div class="col-md-12 padding-15">
              <a href="/register" target="_self"> <span>Dont have an account?</span> Signup here</a>
              <a class="" ng-click="cancel()">CANCEL</a>
              <div class="clear-fix"></div>
          </div>
          <div class="clear-fix"></div>
      </div>
  </div>

  <!-- <button ng-click="cancel()" class="close-button" aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
  </button> -->
</script>