<md-dialog flex="50" flex-xs="75">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Generate IMIN</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div layout="row" class="ml-padding-t-16" layout-xs="column">
            <div layout-margin flex>
                <md-input-container class="md-block">
                    <label>Document Name</label>
                    <input type="text" ng-model="imin.inspection_document_name"/>
                </md-input-container>
            </div>
            <div layout-margin flex>
                <md-input-container class="md-block">
                    <label>Inspected By</label>
                    <md-select ng-model="imin.inspected_by">
                        <md-option ng-repeat="user in users" ng-value="user">
                            {[{user.name}]}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout-margin flex>
                    <md-input-container class="md-block">
                        <label>Document Date</label>
                        <md-datepicker type="date" class="date-picker" layout="row" name="Date" id="datefrom" ng-model="imin.inspection_document_date"></md-datepicker>
                    </md-input-container>
            </div>
        </div>
         <div layout="row" class="ml-padding-t-16" layout-xs="column">
            <div layout-margin flex>
                <md-input-container class="md-block">
                    <label>Remarks</label>
                    <textarea ng-model="imin.inspection_remarks" rows="5"></textarea>
                </md-input-container>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button type="submit" ng-click="cancel()">
            Cancel
        </md-button>
        <md-button type="submit" ng-click="save(imin)">
            Save
        </md-button>
    </md-dialog-actions>
</md-dialog>