<div ng-if="isSettingsLoaded">
<p class="margin-bottom-1">Showing <span class="bold">{[{record_start}]}-{[{record_start+data.length-1}]}</span> of <span class="bold">{[{count}]}</span> records</p>
<div layout="column" flex-gt-sm="100" flex-sm flex-xs md-whiteframe="1">
    <div layout="column" >
        <div ui-grid="gridOptions" class="grid grid-custom-header"
          ui-grid-pagination
          ui-grid-cellnav
          ui-grid-selection 
          ui-grid-resize-columns
          ui-grid-pinning
          ui-grid-grouping
          ui-grid-exporter 
          ui-grid-auto-resize></div>
    </div>
<!-- <hot-table
 hot-id="guide_djangorest_viewonly"
 settings="settings"
 datarows="data"
 col-headers class="hot-table">
</hot-table> -->
</div>
